<a href="https://colab.research.google.com/github/waleogundeji/personal/blob/main/Customer_Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Pimport csv

In [ ]:
from google.colab import files 
files=files.upload()

Saving acw_user_data.csv to acw_user_data.csv

**Task 1**


*Read acw_user_data.csv with csv library.*

In [ ]:
## Import csv, read the acw_user_data and create errow_row list

import csv

with open('acw_user_data.csv') as csv_file:
    csv_reader = csv.reader( csv_file, delimiter=',')

    error_row = []
    for line_number, line in enumerate(csv_reader):
            if line_number == 0: # First line
                continue
                #print(line_number, line)
            if line[10] == "":
                error_row.append(line_number)

**Task 2**


*Convert csv file (flat strustures) into nested structures.*

In [ ]:
## Load csv file

with open('acw_user_data.csv') as csv_file:
    csv_reader = csv.reader( csv_file, delimiter=',' )
    header = next(csv_reader)
    
    acw_user_dataset = [line_number for line_number in csv_reader]
    
## Grouped feature attributes in acw_user_dataset for individauls

personal_details = ['First Name', 'Last Name', 'Age (Years)', 'Sex', 'Marital Status', 'Dependants']
address_details = ['Address Street', 'Address City', 'Address Postcode']
work_details = ['Employer Company', 'Distance Commuted to Work (miles)', 'Yearly Salary (£)', 'Retired', 'Yearly Pension (£)']
credit_card_details = ['Bank IBAN', 'Credit Card Number', 'Credit Card CVV', 'Credit Card Start Date', 'Credit Card Expiry Date']
vehicle_details = ['Vehicle Make', 'Vehicle Model', 'Vehicle Year', 'Vehicle Type']

## Create header dictionary to nest the csv flat strutures

header_dict = {key:value for value, key in enumerate(header)}
header_dict

{'Address City': 1,
 'Address Postcode': 2,
 'Address Street': 0,
 'Age (Years)': 3,
 'Bank IBAN': 12,
 'Credit Card CVV': 9,
 'Credit Card Expiry Date': 7,
 'Credit Card Number': 8,
 'Credit Card Start Date': 6,
 'Dependants': 10,
 'Distance Commuted to Work (miles)': 4,
 'Employer Company': 5,
 'First Name': 11,
 'Last Name': 13,
 'Marital Status': 14,
 'Retired': 16,
 'Sex': 18,
 'Vehicle Make': 19,
 'Vehicle Model': 20,
 'Vehicle Type': 22,
 'Vehicle Year': 21,
 'Yearly Pension (£)': 15,
 'Yearly Salary (£)': 17}

In [ ]:
## Cast each value in the file to the approapriate data types

for value, line_number in enumerate(acw_user_dataset):
    def convert_dtypes(value):
        if value == "True":
            return True
        if value == "False":
            return False    
        if value.isnumeric():
            return int(value)
        try: 
            return float(value)
        except ValueError:
            return value

In [ ]:
## Nest the flat structures

##Create empty list
customers_list = []

## Create dictionaries for each of the feature attributes
for item, row in enumerate(acw_user_dataset, 2):
    
    personal_dict = {}
    for key in personal_details:
        personal_dict[key] = row[header_dict[key]]
        
    address_dict = {}
    for key in address_details:
        address_dict[key] = row[header_dict[key]]  
        
    work_dict = {}
    for key in work_details:
        work_dict[key] = row[header_dict[key]]
        
    credit_card_dict = {}
    for key in credit_card_details:
        credit_card_dict[key] = row[header_dict[key]]
        
    vehicle_dict = {}
    for key in vehicle_details:
        vehicle_dict[key] = row[header_dict[key]]

## Create a dictionary for every individaul in the file(dictionary inside dictionary)     
    row_dict = {'personal_details':personal_dict, 'address_details':address_dict, 'work_details':work_dict,
               'credit_card_details':credit_card_dict, 'vehicle_details':vehicle_dict}
##Append the dictionary for every individaul [dictionary inside dictionary (row_dict)] to the empty list.....
##....to form the list of every individual with different features and their attributes.
    customers_list.append(row_dict)
customers_list[999]

{'address_details': {'Address City': 'West Glen',
  'Address Postcode': 'LL3M 4WS',
  'Address Street': 'Flat 9 Mohamed route'},
 'credit_card_details': {'Bank IBAN': 'GB45ORXV49380519147072',
  'Credit Card CVV': '903',
  'Credit Card Expiry Date': '01/16',
  'Credit Card Number': '180020306382110',
  'Credit Card Start Date': '12/14'},
 'personal_details': {'Age (Years)': '80',
  'Dependants': '1',
  'First Name': 'Sheila',
  'Last Name': 'Russell',
  'Marital Status': 'single',
  'Sex': 'Female'},
 'vehicle_details': {'Vehicle Make': 'Geo',
  'Vehicle Model': 'S7',
  'Vehicle Type': 'Van/Minivan',
  'Vehicle Year': '1993'},
 'work_details': {'Distance Commuted to Work (miles)': '0',
  'Employer Company': 'N/A',
  'Retired': 'True',
  'Yearly Pension (£)': '22869',
  'Yearly Salary (£)': '25788'}}

**Task 3**


*Print a list where all such error corrections take place.*

In [ ]:
print('The problematic rows for dependants:', error_row)

The problematic rows for dependants: [22, 110, 180, 206, 271, 273, 275, 359, 461, 469, 580, 637, 680, 726, 823, 866, 918, 932, 984]

**Task 4**

*Write all records to a processed.json file in the JSON data format.*

In [ ]:
## import json, write all the record of all individuals in the json data format as processed.json

import json
with open('processed.json', mode='w') as processed_file:
    json.dump(customers_list, processed_file)

In [ ]:
## Read processed.json file

with open('processed.json', mode='r') as processed_file:
    customers_details = json.load(processed_file)

customers_details[10]

{'address_details': {'Address City': 'North Martyn',
  'Address Postcode': 'LN2 4JH',
  'Address Street': '2 Robert squares'},
 'credit_card_details': {'Bank IBAN': 'GB95JQAU66555098753975',
  'Credit Card CVV': '843',
  'Credit Card Expiry Date': '03/29',
  'Credit Card Number': '4707491977031086',
  'Credit Card Start Date': '05/19'},
 'personal_details': {'Age (Years)': '64',
  'Dependants': '3',
  'First Name': 'Kimberley',
  'Last Name': 'Turner',
  'Marital Status': 'married or civil partner',
  'Sex': 'Female'},
 'vehicle_details': {'Vehicle Make': 'Volvo',
  'Vehicle Model': 'Tundra Double Cab',
  'Vehicle Type': 'Sedan',
  'Vehicle Year': '2011'},
 'work_details': {'Distance Commuted to Work (miles)': '11.11',
  'Employer Company': 'Gray-James',
  'Retired': 'False',
  'Yearly Pension (£)': '0',
  'Yearly Salary (£)': '39983'}}

**Task 5**


*Create two additional file outputs, retired.json and employed.json, these should contain all retired customers.*

In [ ]:
## Create two empty files for retired and employed
retired_customers = []
employed_customers = []

##Iterates through the customer_list to get the lists of retired and employed
for line in customers_list: 
    if line['work_details']['Retired'] == "True":
        retired_customers.append(line) 
    else:
        employed_customers.append(line)

In [ ]:
## Create retired.json data file
with open('retired.json', mode='w') as retired_file:
    json.dump(retired_customers, retired_file)

In [ ]:
##Read retired.json file
with open('retired.json', mode='r') as retired_file:
    retired_customers = json.load(retired_file)
retired_customers[1]

{'address_details': {'Address City': 'Griffinstad',
  'Address Postcode': 'G3 7ZX',
  'Address Street': '81 Goodwin dam'},
 'credit_card_details': {'Bank IBAN': 'GB04VSAZ69128049616822',
  'Credit Card CVV': '389',
  'Credit Card Expiry Date': '04/27',
  'Credit Card Number': '213199489183130',
  'Credit Card Start Date': '07/15'},
 'personal_details': {'Age (Years)': '67',
  'Dependants': '1',
  'First Name': 'Clive',
  'Last Name': 'Evans',
  'Marital Status': 'single',
  'Sex': 'Male'},
 'vehicle_details': {'Vehicle Make': 'Volvo',
  'Vehicle Model': 'Express 3500 Passenger',
  'Vehicle Type': 'SUV',
  'Vehicle Year': '2013'},
 'work_details': {'Distance Commuted to Work (miles)': '0',
  'Employer Company': 'N/A',
  'Retired': 'True',
  'Yearly Pension (£)': '28075',
  'Yearly Salary (£)': '27964'}}

In [ ]:
## Create employed.json data file

with open('employed.json', mode='w') as employed_file:
    json.dump(employed_customers, employed_file)

In [ ]:
with open('employed.json', mode='r') as employed_file:
    employed_customers = json.load(employed_file)
employed_customers[1]

{'address_details': {'Address City': 'Randallborough',
  'Address Postcode': 'ME3N 1GH',
  'Address Street': 'Studio 33K Joel walk'},
 'credit_card_details': {'Bank IBAN': 'GB40CVUE84011545859591',
  'Credit Card CVV': '422',
  'Credit Card Expiry Date': '07/27',
  'Credit Card Number': '4091726363083888495',
  'Credit Card Start Date': '11/19'},
 'personal_details': {'Age (Years)': '22',
  'Dependants': '1',
  'First Name': 'Antony',
  'Last Name': 'Jones',
  'Marital Status': 'married or civil partner',
  'Sex': 'Male'},
 'vehicle_details': {'Vehicle Make': 'GMC',
  'Vehicle Model': 'Achieva',
  'Vehicle Type': 'Convertible, Coupe',
  'Vehicle Year': '2015'},
 'work_details': {'Distance Commuted to Work (miles)': '16.02',
  'Employer Company': 'Hill-Wright',
  'Retired': 'False',
  'Yearly Pension (£)': '0',
  'Yearly Salary (£)': '68049'}}