In [1]:
import pandas as pd
import numpy as np

In [2]:
def read_and_display(filepath):
    data = pd.read_csv(filepath, index_col='comp_id')
    print(data.shape)
    display(data.head())
    return data

In [3]:
desc_data_train = read_and_display("Description Data/train_desc_df.csv")

(3000, 50)

,desc_1,desc_2,desc_3,desc_4,desc_5,desc_6,desc_7,desc_8,desc_9,desc_10,...,desc_41,desc_42,desc_43,desc_44,desc_45,desc_46,desc_47,desc_48,desc_49,desc_50
comp_id,,,,,,,,,,,,,,,,,,,,,
1,-0.009555,0.002479,0.002927,0.015774,-0.008177,-0.016036,0.026697,-0.000106,0.025788,0.052237,...,-0.029430,-0.029423,0.052256,0.007814,0.023472,-0.021134,0.003324,-0.004393,0.004294,-0.002223
2,-0.009555,0.002479,0.002927,0.015774,-0.008177,-0.016036,0.026697,-0.000106,0.025788,0.052237,...,-0.029430,-0.029423,0.052256,0.007814,0.023472,-0.021134,0.003324,-0.004393,0.004294,-0.002223
3,-0.356706,0.213562,0.252663,0.090735,0.328961,-0.482705,0.067300,0.384217,-0.147253,-0.463378,...,-0.626436,-0.102908,0.576792,-0.805986,0.310637,0.422263,0.403496,0.264240,7.057590,-0.252417
4,-0.294013,0.165262,0.257102,0.421037,0.463214,-0.769155,0.159450,0.236385,-0.183974,-0.357842,...,-0.435836,0.052975,0.108777,-0.599593,0.408430,0.591615,0.415667,0.334706,7.025648,-0.309093
5,-0.028657,0.157017,0.282709,-2.674227,-0.711383,2.259387,-0.162175,0.605468,0.712229,0.027828,...,-1.714496,0.297421,-0.097744,0.000669,-1.639307,0.244313,0.099975,0.371806,-2.259024,-0.131085

In [4]:
desc_data_public = read_and_display("Description Data/public_desc_df.csv")

(986, 50)

,desc_1,desc_2,desc_3,desc_4,desc_5,desc_6,desc_7,desc_8,desc_9,desc_10,...,desc_41,desc_42,desc_43,desc_44,desc_45,desc_46,desc_47,desc_48,desc_49,desc_50
comp_id,,,,,,,,,,,,,,,,,,,,,
3001,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,-0.523113,...,-1.111625,0.252028,-0.193523,0.346493,-0.077318,0.276308,-0.045740,-0.007150,-3.448430,-0.031262
3002,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,-0.523113,...,-1.111625,0.252028,-0.193523,0.346493,-0.077318,0.276308,-0.045740,-0.007150,-3.448430,-0.031262
3003,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,-0.523113,...,-1.111625,0.252028,-0.193523,0.346493,-0.077318,0.276308,-0.045740,-0.007150,-3.448430,-0.031262
3004,-0.298706,-0.022012,0.552924,0.046070,0.044543,0.132187,-0.549770,1.437774,1.286943,1.445921,...,0.246156,-1.001942,-1.502183,1.105716,-0.170937,0.181976,0.437707,0.058352,-2.209322,0.104916
3005,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,-0.523113,...,-1.111625,0.252028,-0.193523,0.346493,-0.077318,0.276308,-0.045740,-0.007150,-3.448430,-0.031262

In [5]:
img_data_train = read_and_display("Image Data/train_image_df.csv")

(3000, 4000)

,image_1,image_2,image_3,image_4,image_5,image_6,image_7,image_8,image_9,image_10,...,image_3991,image_3992,image_3993,image_3994,image_3995,image_3996,image_3997,image_3998,image_3999,image_4000
comp_id,,,,,,,,,,,,,,,,,,,,,
1,0.484456,0.036087,-0.149328,0.144475,-0.617386,0.035018,0.169174,-0.005733,-0.104908,-0.041200,...,-0.090408,-0.032915,-0.010857,-0.015954,0.123416,0.195833,-0.066449,0.115818,-0.005140,0.017278
2,0.074533,-0.015655,-0.016286,-0.480964,0.687917,0.037131,-0.149725,-0.002098,0.099383,-0.021134,...,-0.625816,-0.009616,0.004558,0.008310,-0.173496,0.133518,-0.488898,0.084832,0.146566,0.007997
3,-0.396809,0.021490,-1.723037,0.666147,-0.631924,0.047724,0.336041,-0.003904,0.039683,0.002628,...,-0.078059,0.086320,-0.005606,0.002414,-0.164493,0.218473,0.151292,-0.076860,0.008321,0.012555
4,0.995316,0.012766,0.387472,-0.684791,-0.209261,0.013654,0.138517,0.005586,0.079277,-0.004665,...,-0.190714,-0.005452,-0.003889,0.013430,0.344406,0.038220,0.210446,-0.145128,-0.019172,0.000532
5,-0.611648,0.000860,-0.572393,0.894287,-0.191228,-0.111583,-0.011111,0.003231,-0.160582,0.032804,...,-0.040437,-0.142134,-0.022771,-0.013134,-0.024869,0.125129,0.215967,0.005288,0.145715,0.001425

In [6]:
img_data_public = read_and_display("Image Data/public_image_df.csv")

(986, 4000)

,image_1,image_2,image_3,image_4,image_5,image_6,image_7,image_8,image_9,image_10,...,image_3991,image_3992,image_3993,image_3994,image_3995,image_3996,image_3997,image_3998,image_3999,image_4000
comp_id,,,,,,,,,,,,,,,,,,,,,
3001,-0.288211,0.007964,-0.318695,-0.519448,-0.707238,0.018358,-0.127491,0.006911,-0.163305,-0.001028,...,0.095390,-0.005706,0.011662,0.027501,0.202042,0.031049,0.058993,0.085795,-0.033876,-0.010047
3002,-0.053049,-0.019362,-0.942308,0.971880,-0.145869,0.190100,0.323404,0.001693,0.052303,0.008241,...,-0.152575,-0.015299,0.006474,0.008779,0.064745,-0.130691,0.519738,-0.009965,0.226757,0.001792
3003,0.527363,0.027754,-1.644639,-0.362191,-0.275900,0.095907,-0.083026,-0.002009,0.041976,0.008518,...,-0.139857,0.056012,0.010546,-0.013047,0.395852,0.064757,0.061725,0.081311,0.094162,-0.015818
3004,0.709023,0.002011,-0.968376,0.478994,-0.451566,0.217366,-0.036373,0.004914,0.133615,0.019694,...,-0.343643,0.072151,0.045109,-0.009794,-0.002994,0.142427,-0.001836,0.116891,0.078607,-0.000430
3005,-0.349026,-0.060301,-1.099632,1.475574,-0.076292,0.153835,-0.143689,0.006389,0.058670,-0.021164,...,0.158350,-0.024394,0.002807,-0.004787,-0.012235,0.022360,0.034833,0.084962,-0.092006,0.010375

In [7]:
title_data_train = read_and_display("Title_Data/train_title_df.csv")

(3000, 50)

,title_1,title_2,title_3,title_4,title_5,title_6,title_7,title_8,title_9,title_10,...,title_41,title_42,title_43,title_44,title_45,title_46,title_47,title_48,title_49,title_50
comp_id,,,,,,,,,,,,,,,,,,,,,
1,-0.977637,-0.543310,0.079403,0.205560,-1.497104,0.230466,0.566112,-0.662264,0.130342,-0.277137,...,0.059434,-0.272340,-0.030180,-0.109040,-0.033425,0.728739,0.142030,0.397541,1.270722,-0.816523
2,0.041873,0.644655,0.140869,-0.664714,-0.062992,0.240086,-1.017593,1.019706,0.340133,0.617302,...,0.242961,-0.404538,0.335224,-0.158068,-0.178225,0.351125,0.959121,0.673848,-0.530106,0.133466
3,-0.905595,0.097928,0.111981,-0.064753,-1.566516,0.140807,-0.946588,-0.342442,0.031226,-0.660981,...,0.414191,-0.457968,0.157185,-0.116985,0.404937,-0.220503,0.443171,0.643445,0.357957,0.525154
4,0.069220,0.411544,0.177700,-0.739998,-0.932620,-0.717982,-0.406487,-0.267096,0.114066,-0.045532,...,0.211731,-0.812590,0.258014,-0.180143,-0.564691,-0.515378,0.613686,0.817547,0.325042,0.254415
5,0.503560,-0.210970,-0.085412,0.549240,-0.019521,-0.255597,0.841144,0.250485,0.224235,0.082816,...,-0.517912,0.543584,0.492052,-0.204867,-0.011538,-0.328607,-0.150055,-0.992373,-0.266003,-0.037134

In [8]:
title_data_public = read_and_display("Title_Data/public_title_df.csv")

(986, 50)

,title_1,title_2,title_3,title_4,title_5,title_6,title_7,title_8,title_9,title_10,...,title_41,title_42,title_43,title_44,title_45,title_46,title_47,title_48,title_49,title_50
comp_id,,,,,,,,,,,,,,,,,,,,,
3001,0.363698,0.309343,0.225138,0.318105,-0.523210,0.143360,-0.012829,0.407408,-0.048370,-0.298985,...,0.532943,0.194463,-0.635401,-0.419310,0.142901,-0.523376,1.204893,-1.413345,-0.096672,0.078235
3002,0.218130,1.117077,0.122527,-0.005565,-0.158261,0.390527,0.189782,0.685502,-0.383055,0.402898,...,0.548985,0.066296,-0.525967,-0.674784,0.151137,-1.065329,0.751027,-1.075753,-0.009242,0.464259
3003,0.209271,0.785080,0.287104,0.508236,0.306759,0.505576,-0.172887,0.324774,-0.032752,0.168677,...,0.803655,0.199135,-0.580919,-0.569989,0.033141,-0.658906,0.956579,-0.885134,-0.233097,0.235301
3004,1.160773,-0.491947,0.188722,-0.100140,-1.738414,-0.105218,0.400427,-0.216526,-0.371494,0.231583,...,0.125851,0.735062,0.330460,0.646128,0.809633,0.162228,0.274926,-0.085908,0.217528,1.031500
3005,1.338603,0.599431,0.519767,-0.198956,0.850357,0.039661,0.248881,0.885659,0.245418,-0.147505,...,0.531473,-0.406249,-0.507858,-0.187037,0.802942,-0.472328,0.897817,-1.227795,0.746802,-0.379223

In [9]:
meta_data_train = read_and_display("Metadata/train_meta_df.csv")

(3000, 13)

,ad_blocked,embed,ratio,duration,language,partner,partner_active,n_likes,views,n_tags,n_formats,dayofweek,hour
comp_id,,,,,,,,,,,,,
1,False,True,1.77778,86,3,True,False,0,290,3,0,5,6
2,False,True,1.33333,1129,2,True,False,0,1443,0,2,5,6
3,False,True,1.76667,1163,2,True,False,0,329,0,1,5,6
4,False,True,1.77778,1326,2,True,False,0,63,0,3,5,6
5,False,True,1.77273,2612,2,True,False,3,37,0,0,5,6

In [10]:
meta_data_public = read_and_display("Metadata/public_meta_df.csv")

(986, 12)

,ad_blocked,embed,ratio,duration,language,partner,partner_active,n_likes,n_tags,n_formats,dayofweek,hour
comp_id,,,,,,,,,,,,
3001,False,True,1.33333,1675,2,False,False,0,10,2,2,3
3002,False,True,1.33333,1479,2,False,False,0,10,2,2,3
3003,False,True,1.33333,1505,2,False,False,0,10,2,2,3
3004,False,True,1.77778,50,2,True,True,1,6,5,2,3
3005,False,True,1.33333,1543,2,False,False,0,6,2,2,3

In [11]:
train_data = pd.concat([desc_data_train, title_data_train, img_data_train, meta_data_train], axis=1)
print(train_data.shape)
train_data.head()

(3000, 4113)

,desc_1,desc_2,desc_3,desc_4,desc_5,desc_6,desc_7,desc_8,desc_9,desc_10,...,duration,language,partner,partner_active,n_likes,views,n_tags,n_formats,dayofweek,hour
comp_id,,,,,,,,,,,,,,,,,,,,,
1,-0.009555,0.002479,0.002927,0.015774,-0.008177,-0.016036,0.026697,-0.000106,0.025788,0.052237,...,86,3,True,False,0,290,3,0,5,6
2,-0.009555,0.002479,0.002927,0.015774,-0.008177,-0.016036,0.026697,-0.000106,0.025788,0.052237,...,1129,2,True,False,0,1443,0,2,5,6
3,-0.356706,0.213562,0.252663,0.090735,0.328961,-0.482705,0.067300,0.384217,-0.147253,-0.463378,...,1163,2,True,False,0,329,0,1,5,6
4,-0.294013,0.165262,0.257102,0.421037,0.463214,-0.769155,0.159450,0.236385,-0.183974,-0.357842,...,1326,2,True,False,0,63,0,3,5,6
5,-0.028657,0.157017,0.282709,-2.674227,-0.711383,2.259387,-0.162175,0.605468,0.712229,0.027828,...,2612,2,True,False,3,37,0,0,5,6

In [12]:
test_data = pd.concat([desc_data_public, title_data_public, img_data_public, meta_data_public], axis=1)
print(test_data.shape)
test_data.head()

(986, 4112)

,desc_1,desc_2,desc_3,desc_4,desc_5,desc_6,desc_7,desc_8,desc_9,desc_10,...,ratio,duration,language,partner,partner_active,n_likes,n_tags,n_formats,dayofweek,hour
comp_id,,,,,,,,,,,,,,,,,,,,,
3001,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,-0.523113,...,1.33333,1675,2,False,False,0,10,2,2,3
3002,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,-0.523113,...,1.33333,1479,2,False,False,0,10,2,2,3
3003,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,-0.523113,...,1.33333,1505,2,False,False,0,10,2,2,3
3004,-0.298706,-0.022012,0.552924,0.046070,0.044543,0.132187,-0.549770,1.437774,1.286943,1.445921,...,1.77778,50,2,True,True,1,6,5,2,3
3005,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,-0.523113,...,1.33333,1543,2,False,False,0,6,2,2,3

In [13]:
ad_blocked = train_data.select_dtypes(exclude=np.number)['ad_blocked'].value_counts()
embed = train_data['embed'].value_counts()
partner = train_data['partner'].value_counts()
partner_active = train_data['partner_active'].value_counts()

train_data['Encoded_ad_blocked'] = train_data['ad_blocked'].map(ad_blocked)
train_data['Encoded_embed'] = train_data['embed'].map(embed)
train_data['Encoded_partner'] = train_data['partner'].map(partner)
train_data['Encoded_partner_active'] = train_data['partner_active'].map(partner_active)

train_data[['ad_blocked', 'Encoded_ad_blocked', 'embed', 'Encoded_embed', 'partner', 'Encoded_partner', 'partner_active', 'Encoded_partner_active']].head()

,ad_blocked,Encoded_ad_blocked,embed,Encoded_embed,partner,Encoded_partner,partner_active,Encoded_partner_active
comp_id,,,,,,,,
1,False,2980,True,2982,True,1806,False,2317
2,False,2980,True,2982,True,1806,False,2317
3,False,2980,True,2982,True,1806,False,2317
4,False,2980,True,2982,True,1806,False,2317
5,False,2980,True,2982,True,1806,False,2317

In [14]:
train_data = train_data.drop(['ad_blocked','embed','partner','partner_active'], axis = 1)
train_data.head()

,desc_1,desc_2,desc_3,desc_4,desc_5,desc_6,desc_7,desc_8,desc_9,desc_10,...,n_likes,views,n_tags,n_formats,dayofweek,hour,Encoded_ad_blocked,Encoded_embed,Encoded_partner,Encoded_partner_active
comp_id,,,,,,,,,,,,,,,,,,,,,
1,-0.009555,0.002479,0.002927,0.015774,-0.008177,-0.016036,0.026697,-0.000106,0.025788,0.052237,...,0,290,3,0,5,6,2980,2982,1806,2317
2,-0.009555,0.002479,0.002927,0.015774,-0.008177,-0.016036,0.026697,-0.000106,0.025788,0.052237,...,0,1443,0,2,5,6,2980,2982,1806,2317
3,-0.356706,0.213562,0.252663,0.090735,0.328961,-0.482705,0.067300,0.384217,-0.147253,-0.463378,...,0,329,0,1,5,6,2980,2982,1806,2317
4,-0.294013,0.165262,0.257102,0.421037,0.463214,-0.769155,0.159450,0.236385,-0.183974,-0.357842,...,0,63,0,3,5,6,2980,2982,1806,2317
5,-0.028657,0.157017,0.282709,-2.674227,-0.711383,2.259387,-0.162175,0.605468,0.712229,0.027828,...,3,37,0,0,5,6,2980,2982,1806,2317

In [15]:
ad_blocked = test_data['ad_blocked'].value_counts()
embed = test_data['embed'].value_counts()
partner = test_data['partner'].value_counts()
partner_active = test_data['partner_active'].value_counts()

test_data['Encoded_ad_blocked'] = test_data['ad_blocked'].map(ad_blocked)
test_data['Encoded_embed'] = test_data['embed'].map(embed)
test_data['Encoded_partner'] = test_data['partner'].map(partner)
test_data['Encoded_partner_active'] = test_data['partner_active'].map(partner_active)

test_data[['ad_blocked', 'Encoded_ad_blocked', 'embed', 'Encoded_embed', 'partner', 'Encoded_partner', 'partner_active', 'Encoded_partner_active']].head()

,ad_blocked,Encoded_ad_blocked,embed,Encoded_embed,partner,Encoded_partner,partner_active,Encoded_partner_active
comp_id,,,,,,,,
3001,False,986,True,952,False,749,False,842
3002,False,986,True,952,False,749,False,842
3003,False,986,True,952,False,749,False,842
3004,False,986,True,952,True,237,True,144
3005,False,986,True,952,False,749,False,842

In [16]:
test_data = test_data.drop(['ad_blocked','embed','partner','partner_active'], axis = 1)
test_data.head()

,desc_1,desc_2,desc_3,desc_4,desc_5,desc_6,desc_7,desc_8,desc_9,desc_10,...,language,n_likes,n_tags,n_formats,dayofweek,hour,Encoded_ad_blocked,Encoded_embed,Encoded_partner,Encoded_partner_active
comp_id,,,,,,,,,,,,,,,,,,,,,
3001,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,-0.523113,...,2,0,10,2,2,3,986,952,749,842
3002,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,-0.523113,...,2,0,10,2,2,3,986,952,749,842
3003,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,-0.523113,...,2,0,10,2,2,3,986,952,749,842
3004,-0.298706,-0.022012,0.552924,0.046070,0.044543,0.132187,-0.549770,1.437774,1.286943,1.445921,...,2,1,6,5,2,3,986,952,237,144
3005,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,-0.523113,...,2,0,6,2,2,3,986,952,749,842

In [17]:
y = train_data['views'].iloc[:-1].values
X = train_data.drop(['views'], axis = 1).iloc[:-1].values

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,mean_squared_error, r2_score
from math import sqrt
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [19]:
import xgboost as xgb
from xgboost import XGBRegressor

In [20]:
xgbr = xgb.XGBRegressor(verbosity=0) 
print(xgbr)

XGBRegressor(base_score=None, booster=None, colsample_bylevel=None,
             colsample_bynode=None, colsample_bytree=None, gamma=None,
             gpu_id=None, importance_type='gain', interaction_constraints=None,
             learning_rate=None, max_delta_step=None, max_depth=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             random_state=None, reg_alpha=None, reg_lambda=None,
             scale_pos_weight=None, subsample=None, tree_method=None,
             validate_parameters=None, verbosity=0)

In [21]:
xgbr.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=4, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=0)

In [22]:
from sklearn.model_selection import cross_val_score, KFold

In [23]:
score = xgbr.score(X_train,y_train)  
print("Training score: ", score)

Training score:  0.9999346512292763

In [24]:
ypred = xgbr.predict(X_test)
print(ypred)

[ 2.15366638e+02  1.87453985e-01  1.13193207e+02  4.49593658e+02
  3.22932373e+02  1.98979236e+03  1.74451263e+02  1.04207626e+02
  1.62196045e+02  3.61906763e+03  5.50671021e+02  2.68034153e+01
  3.72221832e+02  6.91043823e+02  1.32601425e+02  1.30825455e+02
  2.42097641e+02  5.79918442e+01  1.13335648e+02  2.36055481e+02
  2.00969086e+02 -2.80742340e+01  7.43785828e+02  9.30741730e+01
  2.44647186e+02  1.88815353e+02  3.56580261e+02  4.27766144e+02
  1.08428047e+02 -7.57772398e+00  1.54962659e+03  5.98864502e+02
  1.21867896e+03  1.85573502e+02  4.54880890e+02  1.75208420e+02
  2.48940170e+02  1.30075146e+03  3.74035217e+02  1.01070961e+02
  1.04867332e+02  9.06399612e+01  6.49661026e+01  1.52324341e+02
  1.44065125e+02  5.27919373e+02  2.32441788e+02  1.80428625e+03
  2.16864243e+02  2.25040039e+03  8.87740112e+02  2.26002319e+02
  4.63874725e+02  3.18845752e+03  3.25237518e+02  1.26341797e+02
  1.73745972e+02  8.12206543e+02  3.36417755e+02  3.07087921e+02
  2.61758545e+02  2.24076099e+03  2.32117935e+02  1.58278076e+03
  3.07692480e+03  2.56652527e+02  5.41836426e+02  2.56309052e+02
  1.68250879e+03  1.09020775e+02  3.80755005e+02  1.74879379e+02
  1.10486060e+03  1.95542099e+02  1.23935400e+03  4.48069191e+01
  2.34025345e+02  2.65103882e+02  2.90893555e+02  1.38366730e+02
  5.57679077e+02  8.75266800e+01  9.61439743e+01  3.28414062e+02
  3.44059668e+03  2.29898804e+03  8.91954834e+02  6.59145935e+02
  2.27899200e+02  9.29802979e+02  1.04385962e+03  2.03900650e+02
  5.36260620e+02  3.42412903e+02  2.63470508e+03  2.17701187e+02
  3.95956360e+02  1.24946495e+02  3.96949371e+02  4.79152557e+02
  3.48904327e+02  3.03273254e+02  1.66248596e+02  4.32888306e+02
  1.27046130e+03  6.65592468e+02  6.35078369e+02  1.48734253e+02
  1.37026245e+02  2.91291412e+02  8.06734680e+02 -7.09632568e+01
  5.77357788e+02  1.45179199e+02  2.30741592e+02  2.32121606e+03
  1.62972855e+02  3.39676392e+02  6.39116135e+01  5.23073181e+02
  4.80940521e+02  5.13567505e+02  5.40800552e+01  2.05246246e+02
  1.85131821e+02  2.56636566e+02  1.00222931e+03  1.61632633e+01
  3.04881500e+02  3.64506866e+02  4.75019684e+02  8.14916565e+02
  5.98925171e+02  1.82630188e+03  6.35017273e+02  3.20335388e+01
  1.39826990e+03  1.24220728e+03  1.66119659e+02  3.91082535e+01
  1.88092484e+02  1.44760620e+02  1.85694000e+02  1.59106763e+03
  5.47648376e+02  2.59910706e+02  3.04626617e+02  1.09885353e+02
  7.63078690e+01  3.63493256e+02  2.12147064e+02  4.63291565e+02
  2.16754868e+02  2.98912628e+02  9.71348038e+01  6.79429321e+02
  1.39250012e+03  2.50969559e+02  1.84749863e+02  2.58112457e+02
  2.84744110e+02  1.52295569e+03  5.75779114e+02  3.33320740e+02
  2.17021835e+02  1.25676990e+03  6.36641006e+01  2.76039154e+02
  3.87977356e+02  1.58667999e+02  7.72599640e+01  2.31192456e+03
  2.84100616e+02  3.27738251e+02  3.61351837e+02  1.80805862e+02
  3.49743378e+02  2.90268372e+02  3.03945703e+03  7.70232727e+02
  6.08904785e+02  4.12997711e+02  4.90653046e+02  3.18634094e+02
  3.60800171e+02  3.93493134e+02  3.19831238e+02  4.44124939e+02
  1.25279980e+03  7.97949036e+02  9.84784180e+02  2.47170850e+03
  2.88031677e+02  2.16116104e+02  1.44530167e+02  2.99998169e+02
  3.47234375e+02  3.42700775e+02  1.94019922e+03  4.49503235e+02
  2.61990387e+02  9.11503906e+02  1.66112656e+02  4.17357941e+02
  4.60706909e+02  4.88373444e+02 -3.01989555e+00  3.39539246e+02
  2.40639136e+03  1.13161148e+02  4.03307709e+02  5.61906982e+02
  2.18376740e+02  1.67848587e+02  1.52573706e+03  1.64892578e+03
  1.40171594e+03  8.02975769e+01  1.41284790e+02  4.48093018e+02
  4.66194916e+01  2.60232697e+02  9.43157593e+02  4.82878113e+02
  4.98508026e+02  4.41490326e+02  2.83404510e+02  1.04541313e+02
  1.91338013e+02  7.81741333e+02  1.58338745e+03  8.47134766e+02
  4.75871849e+01  2.15647125e+02  2.45800735e+02  2.37598236e+02
  1.21491570e+02  3.18225006e+02  3.92684326e+02  4.89742096e+02
  1.48388306e+02 -1.00017532e+02  4.00566498e+02  5.82547058e+02
  3.59671600e+02  5.99908508e+02  3.82034454e+02  4.60892578e+02
  9.72221558e+02  1.76659317e+02  2.81817963e+02  2.63705078e+02
  1.36838242e+02  5.13783760e+01  1.20159698e+02  1.79854163e+03
  9.87549683e+02  1.67043506e+03  1.33424301e+02  2.34464185e+03
  3.67371368e+02  9.89709717e+02  1.09057747e+02  1.78580765e+02
  2.41831528e+02  5.42425354e+02  1.04440804e+02  2.14685349e+02
  3.25215637e+02  8.33496857e+01  2.37408493e+02  1.93862476e+03
  2.41315338e+02  2.31617386e+02  1.85130753e+02  2.57904968e+02
  5.43904907e+02  2.00843704e+02  1.75218323e+02  2.15709570e+03
  1.76589282e+03  8.32388794e+02  9.38851471e+01  1.59046661e+02
  2.58144958e+02  8.00867432e+02  9.07782974e+01  1.71096024e+02
  3.72474487e+02  2.48985733e+02  1.08059387e+02  1.52318884e+03
  1.44354477e+02  3.75442810e+02  2.67082336e+02  2.91539459e+02
  1.78012866e+03  9.55291626e+02  3.01872253e+02  5.04593475e+02
  3.49719385e+03  1.67939987e+02  2.45552414e+02  1.58321350e+02
  3.62754517e+02  2.36906342e+02  1.25433464e+02  5.26431007e+01
  8.50802734e+02  1.86448727e+01  6.73869934e+01  4.69090485e+02
  9.68686890e+02  3.31723785e+02  3.24050598e+02  4.12371918e+02
  1.75563019e+02  5.49978271e+02  2.49977188e+02  1.05681046e+02
  6.98239685e+02  1.55008942e+02  3.44269226e+02  2.26815747e+03
  1.36185266e+03  2.61694458e+02  1.59075256e+03  1.96167084e+02
  1.69697464e+02  1.53008240e+02  1.69521875e+03  4.42548904e+01
  1.56372299e+02  5.51567932e+02  3.78045801e+03  1.33255298e+03
  2.88758453e+02  7.32131882e+01  2.79947784e+02  1.46032257e+02
  3.52029694e+02  8.34624512e+02  1.10583289e+03  1.66883087e+02
  1.98059647e+02  1.69193668e+01  2.81984741e+03  2.00211487e+02
  3.76977631e+02  3.72869165e+03  3.86468231e+02  4.79376129e+02
  5.35888611e+02  1.38502701e+02  1.11063026e+02  3.31162933e+02
  1.59291699e+03  1.07488853e+02  1.76164612e+03  2.25232697e+02
  6.34528870e+02  2.53564484e+02  2.05309341e+02  2.70904785e+02
  8.78279800e+01  2.64118103e+02  2.45023575e+02  4.47741425e+02
  5.29017029e+02  3.99140930e+02  1.93221603e+02  3.48058533e+02
  1.13346085e+02  2.05502274e+02  1.83793335e+02  1.83501257e+03
  9.48103271e+02  1.87172272e+02  3.51575439e+02  1.50246216e+02
  2.03540451e+02  5.71384827e+02  9.97154602e+02  2.51445038e+02
  2.33820053e+02  2.51760803e+02  8.58963745e+02  6.44952209e+02
  1.68396927e+02  3.13214172e+02  2.41832474e+02  2.30253937e+02
  3.33285492e+02  8.84771301e+02  3.66306519e+02  2.25259628e+02
  7.45116653e+01  1.88272842e+02  3.50509583e+02  1.05985916e+02
  7.54002380e+02  1.69724838e+02  3.38433685e+02  6.85980652e+02
  1.24358902e+02  2.05054370e+03  1.46463171e+03  2.81890045e+02
  2.73572601e+02  1.54941174e+03  2.32315704e+02  3.19291321e+02
  1.09177271e+03  4.31754120e+02  1.65819656e+02  3.22652405e+02
  1.04191321e+03  2.01180893e+02  3.66893959e+01  1.84571155e+03
  4.38273712e+02  9.76246948e+01  3.70254639e+02  2.63090637e+02
  3.21447815e+02  1.06399246e+02  2.18342163e+02  1.57625824e+02
  3.42859863e+02  2.14378784e+03  1.73790710e+03  8.95364441e+02
  1.24922310e+02  2.58686157e+02  2.50284317e+02  1.19320938e+02
  6.83423340e+02  1.85400659e+03  1.25831139e+02  2.54847794e+02
  1.19463220e+03  1.41956528e+02  3.19649933e+02  1.51736865e+03
  1.07161694e+03  8.30112793e+02  1.90714584e+02  7.89664368e+02
  7.70470428e+01  1.74362595e+02  2.30572485e+03  8.72763184e+02
  1.96585999e+02  2.00351318e+02  1.52685623e+02  9.99888611e+01
  1.78690323e+02  1.19651749e+02  4.26721375e+02  1.69861008e+02
  3.15717255e+02  1.75727829e+02  1.70803235e+03  1.12606529e+02
  1.46348035e+03  2.70257019e+02  8.12248962e+02  4.23125153e+02
  3.45750427e+02  2.08394485e+02  3.88527496e+02  2.18026031e+02
  1.91362744e+03  5.65739197e+02  1.09077405e+03  3.75364807e+02
  4.66786041e+02  3.08960785e+02  1.98065338e+02 -1.52636080e+01
 -1.67019691e+01  1.27049768e+03  3.74325635e+03  7.23180359e+02
  6.74367310e+02  3.56473541e+02  3.11020361e+03  3.07694794e+02
  6.35352417e+02  6.07482056e+02  2.41411087e+02  5.84194458e+02
  2.65085175e+02  6.72107483e+02  1.86608017e+02  5.58992424e+01
  3.93930725e+02  1.55344498e+02  7.83700684e+02  8.20833740e+01
  1.50044556e+02  2.52949402e+02  1.82244781e+02  1.28107117e+03
  4.59742126e+02  9.80948059e+02  1.10259651e+02  1.04636487e+03
  2.47768677e+02  2.40229834e+03  1.80060867e+02  1.46516449e+02
  1.21895142e+03  2.53014618e+02  1.04789619e+02  9.91652145e+01
  7.35182434e+02  1.87141708e+02  1.23720741e+02  3.84509003e+02
  5.80164429e+02  7.37957092e+02  2.30634674e+02  5.48963890e+01
  8.48840881e+02  1.92021399e+03  4.96894989e+02  3.39481232e+02
  1.93248688e+02  1.19749182e+03  1.33270859e+02 -3.29869690e+01
  6.24579811e+00  5.27376099e+02  3.71989777e+02  6.01404602e+02
  2.53289490e+02  2.52874969e+02  1.17606827e+02  1.50570602e+02
  1.80252820e+03  9.20445496e+02  1.59568954e+02  9.52542114e+02
  1.96387253e+02 -2.30038910e+01  2.07774277e+02  4.01279716e+01
  3.08565643e+02  3.40201141e+02  1.01261833e+02  1.39362708e+03
  4.45596802e+02  6.08425293e+02  6.43230103e+02  1.43999908e+02
  2.97880811e+03  1.83735764e+02  2.22824799e+02  1.88917877e+02
  1.04208264e+03  5.96443848e+02  4.75586151e+02  4.80196655e+02
  1.12557320e+02  2.39519348e+02  7.65945206e+01  2.46692578e+03
  6.78590775e+01  3.48308838e+02  1.36529175e+02  2.19640063e+03
 -4.75307587e+02  8.28671204e+02  1.39788681e+02  1.14494238e+03
  3.38327075e+03  2.08119949e+02 -1.78354855e+01  1.17855721e+02
  6.92091797e+02  6.34735657e+02  1.69312878e+03  3.34734772e+02
  2.68597046e+02  5.25180237e+02  4.14603424e+02  8.04950623e+02
  4.95139465e+02  2.99783936e+03  1.93170496e+03  4.82467743e+02
  2.88063019e+02  2.00737350e+02  5.24208565e+01  1.11877588e+03
  2.84692780e+02  1.77043488e+02  2.14026352e+02  2.69729126e+02
  1.60095581e+03  4.12899811e+02  2.85422266e+03  2.59551514e+02
  4.91656891e+02  3.65386902e+02  4.52641945e+01  1.77132172e+02
  1.25764587e+03  1.49701061e+01  1.68365405e+03  3.20215240e+02
  3.88688751e+02  7.93506958e+02  1.73418533e+02  3.50657654e+02
  9.97492065e+02  6.49841431e+02  3.61858734e+02  3.06138824e+02
  6.51159973e+02  1.12350182e+02 -8.24393616e+01  7.38424622e+02
  1.42100937e+02  9.47193909e+02  1.12723083e+03  2.01379608e+02
  3.70358643e+02  3.80812347e+02  1.29952667e+02  1.86652100e+02
  8.80943909e+02  8.55725784e+01  7.97315750e+01  3.67850342e+02
  6.66679810e+02  2.32018814e+02  1.42431396e+02  2.27699292e+03
  2.23498489e+02  1.29124466e+02  3.86191711e+02  5.76727600e+02
 -2.43269897e+00  1.87899689e+02  2.43247925e+02  9.89633484e+02
  3.63026709e+03  2.97164062e+02  3.96500977e+02  2.26345483e+03
  2.93700500e+02  1.16185738e+02  9.84792969e+02  1.85687576e+02
  8.35583801e+01  8.27959412e+02  3.27866943e+02  1.48456421e+02
  1.20673622e+02  1.59584488e+02  2.76185638e+02  2.41270523e+02
  2.46458069e+02  2.62817078e+02  5.52236061e+01  2.27915405e+03
  7.81906067e+02  1.35697037e+02  3.59880615e+02  6.06552307e+02
  1.19331596e+02  1.40968152e+03  1.18503128e+02  2.72843536e+02
  2.17142749e+03  1.77534851e+02  5.33697327e+02  3.96175018e+02
  1.56222729e+03  1.85182312e+02  4.03195770e+02  1.38326340e+02
  7.19732849e+02  3.87026550e+02  9.59407837e+02  1.76823746e+02
  2.40826462e+02  2.11488831e+02  3.79759613e+02  1.61083447e+03
  7.83074463e+02  6.20596130e+02  1.17893410e+02  1.74996902e+02
  2.93490387e+02  1.21780731e+02  1.42228470e+02  8.58070496e+02
  5.33133606e+02  1.82949084e+03  3.83850983e+02  2.81051910e+02
  1.14376160e+03  1.25448860e+02  4.91631317e+02  3.71389923e+02
  3.11295197e+02  1.08042316e+01  3.72220428e+02  1.85665329e+02
  4.41311462e+02  7.80131104e+02  5.63219482e+02  9.62498718e+02
  2.51311356e+02  2.28041962e+02  4.31815643e+02  2.20815170e+02
  3.11100922e+02  1.82002533e+02  7.56204956e+02  1.31195480e+02
  2.83104736e+02  7.89016876e+01  1.62565521e+02  5.17634964e+01
  6.65394211e+01  6.38360825e+01  2.03577026e+02  2.12364349e+02
  7.41269531e+02  1.98785995e+02  5.39296448e+02  1.67561966e+02
  5.31571465e+01  6.40320496e+02  3.28584766e+03  5.72616638e+02
  4.72532837e+02  1.55828735e+02  1.08372314e+02  3.76482239e+02
  3.06694214e+02  2.19954407e+02  2.56679688e+02  1.15186829e+02
  1.81407181e+02  4.92219818e+02  1.90110925e+03  7.16473206e+02
  7.31663452e+02  3.44044037e+02  2.27113403e+03  2.61841736e+02
  1.97818274e+03  3.06999170e+03  3.31494415e+02  1.02517769e+02
  4.74121063e+02  3.46341034e+02  3.22829926e+02  4.10938623e+03
  1.72009607e+03  1.53059021e+02  1.20489612e+03  1.29884247e+02
  1.72567761e+03  2.22473663e+02  7.32814941e+01  4.81049042e+01
  9.60302185e+02  1.78356354e+02  2.64828613e+02  4.31595306e+02
  2.57672388e+03  8.03229553e+02  2.63416656e+02  5.70598267e+02
  2.21519821e+02  8.52345352e+01  1.03397423e+02  2.49335327e+02
  1.87405121e+02  1.64562592e+02  4.98956512e+02  1.47029556e+02
  2.73254303e+02  2.47680466e+02  1.50185193e+03  3.49289459e+02
  6.57022888e+02  4.86915131e+01  9.94078430e+02  1.99401596e+02
  1.83115936e+02  2.23544907e+02  2.12355444e+03  2.06977646e+02
  6.09792480e+01  2.03981885e+03  1.39358459e+02  8.88781006e+02
  1.35718396e+03  2.61560181e+02  2.84803925e+02  3.76943726e+02
  6.29234009e+02  5.27583496e+02  6.89583313e+02  5.18032959e+02
  2.36666595e+02  5.64006714e+02  5.58505127e+02  1.87142929e+02
  6.22375732e+02  4.57115692e+02  3.17284058e+03  2.42144272e+02
  4.38534241e+02  1.24668732e+02 -5.15918999e+01  3.57901794e+02
  4.49897675e+02  4.17086182e+02  5.83136536e+02  1.99312103e+02
  4.56380402e+02  2.51394997e+01  3.18244667e+01  1.99558374e+03
  3.51118311e+03  3.17629297e+03  6.45478668e+01  1.55870361e+02
  2.90998596e+02  7.85725220e+02  2.70779541e+03  1.22905830e+02
  5.45911011e+02  2.10885086e+02  2.30742371e+02  2.41436722e+02
  2.99857788e+02  7.91165588e+02  2.69920258e+02  2.58889191e+02
  1.80914429e+02  3.81250946e+02  3.14171387e+02  4.89022919e+02
  5.32942322e+02  8.75208511e+01  1.55055725e+02  3.06241760e+02
  2.70722748e+02  7.86472412e+02  4.45209389e+01  8.31737900e+01
  1.17956982e+03  1.05403748e+02  8.36016785e+02  2.53621506e+02
  1.82473206e+03  4.10196289e+02  1.31214294e+02  3.84693359e+02
  1.14125720e+03  5.61655579e+02  2.54695694e+02  8.44939331e+02
  9.82484314e+02  4.00706970e+02  1.48813187e+02  8.29558716e+02
  3.64597046e+02  2.62608063e+02  2.25191650e+02  1.23051123e+03
  1.46820007e+02  3.11711884e+02  4.66297943e+02  2.72489307e+03
  1.92998810e+02  3.21038910e+02  3.09008759e+02  3.30511627e+02
  3.18119293e+02  1.57583237e+02  1.26077917e+03  9.21392578e+02
  2.79643463e+02  3.06381958e+02  7.82525864e+01  2.54546704e+03
  2.15709570e+03  9.42536774e+01  2.53114532e+02  5.79955078e+02]

In [25]:
mse = mean_squared_error(y_test, ypred)
print("MSE: %.2f" % mse)

MSE: 1298440.04

In [26]:
rmse = sqrt(mean_squared_error(y_test, ypred))
print("RMSE: %.2f" %rmse)

RMSE: 1139.49

In [27]:
evaluation = rmse/ (max(y_test))
print("Evaluation: %.2f" %evaluation)

Evaluation: 0.12

In [28]:
ypred_xgbr = xgbr.predict(test_data.values)

In [29]:
submission = pd.DataFrame()
submission["comp_id"] = index_col='comp_id'
submission["views"] = ypred_xgbr

submission.to_csv('sol_ypred_xgbr.csv', index=False)

In [30]:
#XGBoost hyper-parameter tuning
#def hyperParameterTuning(X_train, y_train):
    #param_tuning = {
        #'learning_rate': [0.01, 0.1],
        #'max_depth': [3, 5, 7, 10],
        #'min_child_weight': [1, 3, 5],
        #'subsample': [0.5, 0.7],
        #'colsample_bytree': [0.5, 0.7],
        #'n_estimators' : [100, 200, 500],
        #'objective': ['reg:squarederror']
   # }

    #xgbr = XGBRegressor()

    #gsearch = GridSearchCV(estimator = xgbr,
                           #param_grid = param_tuning,                        
                           #scoring = 'neg_mean_absolute_error', #MAE
                           #scoring = 'neg_mean_squared_error',  #MSE
                           #cv = 5,
                           #n_jobs = -1,
                           #verbose = 1)

    #gsearch.fit(X_train,y_train)

    #return gsearch.best_params_

In [31]:
#xgbr = XGBRegressor(
        #objective = 'reg:mean_squared_error',
        #colsample_bytree = 0.5,
        #learning_rate = 0.05,
        #max_depth = 6,
        #min_child_weight = 1,
        #n_estimators = 1000,
        #subsample = 0.7)

In [32]:
#Importing Packages
import matplotlib.pyplot as plt

from xgboost import XGBRegressor
from xgboost import XGBRFRegressor
from sklearn.model_selection import GridSearchCV

from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

In [33]:
def hyperParameterTuning(X_train, y_train):
    param_tuning = {
        'learning_rate': [0.01, 0.1],
        'max_depth': [3, 5, 7, 10],
        'min_child_weight': [1, 3, 5],
        'subsample': [0.5, 0.7],
        'colsample_bytree': [0.5, 0.7],
        'n_estimators' : [100, 200, 500],
        'objective': ['reg:squarederror']
    }

    xgb_model = XGBRegressor()

    gsearch = GridSearchCV(estimator = xgb_model,
                           param_grid = param_tuning,                        
                           scoring_MAE = 'neg_mean_absolute_error', #MAE
                           scoring_MSE = 'neg_mean_squared_error',  #MSE
                           cv = 5,
                           n_jobs = -1,
                           verbose = 1)

    gsearch.fit(X_train,y_train)

    return gsearch.best_params_

In [34]:
xgb_model = XGBRegressor(
        objective = 'reg:squarederror',
        colsample_bytree = 0.5,
        learning_rate = 0.05,
        max_depth = 6,
        min_child_weight = 1,
        n_estimators = 1000,
        subsample = 0.7)

%time xgb_model.fit(X_train, y_train, early_stopping_rounds=5, eval_set=[(X_test, y_test)], verbose=False)

y_pred_xgb = xgb_model.predict(X_test)

mae_xgb = mean_absolute_error(y_test, y_pred_xgb)
mse_xgb = mean_squared_error(y_test, y_pred_xgb)

print("MAE: ", mae_xgb)
print("MSE: ", mse_xgb)

CPU times: user 1min 36s, sys: 891 ms, total: 1min 37s
Wall time: 35.1 s
MAE:  529.7664769829644
MSE:  1143347.2274445735

In [35]:
rmse = sqrt(mean_squared_error(y_test, y_pred_xgb))
print("RMSE: %.2f" %rmse)

RMSE: 1069.27

In [36]:
evaluation = rmse/ (max(y_test))
print("Evaluation: %.2f" %evaluation)

Evaluation: 0.11

In [37]:
y_pred_xgb_model = xgb_model.predict(test_data.values)

In [38]:
submission = pd.DataFrame({'comp_id':index_col,'views':y_pred_xgb_model})

# Save results
submission.to_csv("submission_xgb_model.csv",index=False)

#submission = pd.DataFrame()
#submission["comp_id"] = index_col='comp_id'
#submission["views"] = ypred_xgbr

#submission.to_csv('sol_ypred_xgbr.csv', index=False)

In [39]:
from sklearn.ensemble import GradientBoostingRegressor #For Regression

In [40]:
regr = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, max_depth=6)
regr.fit(X_train, y_train)

GradientBoostingRegressor(max_depth=6)

In [41]:
y_pred = regr.predict(X_test)

In [42]:
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)

print("MAE: ", mae)
print("MSE: ", mse)

MAE:  574.054938786696
MSE:  1319439.1737216422

In [43]:
rmse = sqrt(mean_squared_error(y_test, y_pred))
print("RMSE: %.2f" %rmse)

RMSE: 1148.67

In [44]:
evaluation = rmse/ (max(y_test))
print("Evaluation: %.2f" %evaluation)

Evaluation: 0.12

In [45]:
y_pred = regr.predict(test_data.values)

In [46]:
submission = pd.DataFrame({'comp_id':index_col,'views':y_pred})

# Save results
submission.to_csv("submission_regr.csv",index=False)

In [47]:
def hyperParameterTuning(X_train, y_train):
    param_tuning = {
        'learning_rate': [0.0001, 0.001, 0.01, 0.1, 0.2, 0.3],
        'max_depth': [3, 5, 7, 10],
        'min_child_weight': [1, 3, 5],
        'subsample': [0.5, 0.7],
        'colsample_bytree': [0.5, 0.7],
        'n_estimators' : [100, 200, 400, 600, 800, 1000],
        'objective': ['reg:squarederror']
    }

    xgbr_model = XGBRegressor()

    gsearch = GridSearchCV(estimator = xgbr_model,
                           param_grid = param_tuning,                        
                           scoring_MAE = 'neg_mean_absolute_error', #MAE
                           scoring_MSE = 'neg_mean_squared_error',  #MSE
                           cv = 10,
                           n_jobs = -1,
                           verbose = 1)

    gsearch.fit(X_train,y_train)

    return gsearch.best_params_

In [48]:
xgbr_model = XGBRegressor(
        objective = 'reg:squarederror',
        colsample_bytree = 0.5,
        learning_rate = 0.01,
        max_depth = 8,
        min_child_weight = 1,
        n_estimators = 1000,
        subsample = 0.7)

%time xgbr_model.fit(X_train, y_train, early_stopping_rounds=5, eval_set=[(X_test, y_test)], verbose=False)

y_pred_xgbr = xgbr_model.predict(X_test)

mae_xgbr = mean_absolute_error(y_test, y_pred_xgbr)
mse_xgbr = mean_squared_error(y_test, y_pred_xgbr)

print("MAE: ", mae_xgbr)
print("MSE: ", mse_xgbr)

CPU times: user 7min 25s, sys: 3.98 s, total: 7min 29s
Wall time: 3min 2s
MAE:  502.21637910630966
MSE:  1133236.8376068969

In [49]:
rmse = sqrt(mean_squared_error(y_test, y_pred_xgbr))
print("RMSE: %.2f" %rmse)

RMSE: 1064.54

In [50]:
evaluation = rmse/ (max(y_test))
print("Evaluation: %.2f" %evaluation)

Evaluation: 0.11

In [51]:
y_pred_xgbr_model = xgb_model.predict(test_data.values)

submission = pd.DataFrame({'comp_id':index_col,'views':y_pred_xgbr_model})

# Save results
submission.to_csv("submission_xgbr_model.csv",index=False)