In [2]:
##Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
# Loading the train data and drop 'Customer_ID' becos it won't be useful
train_dataset = pd.read_csv('train.csv')
#train_dataset.drop(['Customer_ID'], axis ='columns', inplace= True)
train_dataset.head()
print(train_dataset.shape)

(700, 37)

In [4]:
train_dataset.shape

(700, 37)

In [5]:
# Loading the test data and drop 'Customer_ID' becos it won't be useful
test_dataset = pd.read_csv('test.csv')
#index_col = test_dataset['Customer_ID']
#data.drop(['Customer_ID'], axis ='columns', inplace= True)
#test_dataset.drop(['Customer_ID'], axis ='columns', inplace= True)
test_dataset.head()

,Customer_ID,months_as_customer,age,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,capital-gains,capital-loss,...,incident_severity,authorities_contacted,incident_state,incident_city,witnesses,police_report_available,auto_make,auto_model,auto_year,_c39
0,Customer_521,5,26,FEMALE,PhD,farming-fishing,skydiving,not-in-family,31500,0,...,Total Loss,Ambulance,WV,Springfield,3,?,Audi,A5,2003,NaN
1,Customer_737,160,33,FEMALE,High School,exec-managerial,exercise,husband,61600,0,...,Total Loss,Ambulance,NC,Riverwood,3,YES,Nissan,Pathfinder,2006,NaN
2,Customer_740,385,51,FEMALE,MD,craft-repair,reading,husband,0,-61000,...,Minor Damage,Other,WV,Riverwood,3,?,Suburu,Legacy,2007,NaN
3,Customer_660,446,57,MALE,College,adm-clerical,sleeping,unmarried,42700,-64900,...,Total Loss,Police,SC,Northbrook,0,NO,Jeep,Wrangler,2012,NaN
4,Customer_411,84,29,FEMALE,High School,machine-op-inspct,video-games,not-in-family,0,-29900,...,Trivial Damage,Police,SC,Arlington,0,YES,BMW,3 Series,2005,NaN

In [6]:
test_dataset.shape

(300, 36)

In [7]:
## Concatenate train_test and test_data to data
data = pd.concat((train_dataset, test_dataset)).reset_index(drop=True)
data.head()

,Customer_ID,months_as_customer,age,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,capital-gains,capital-loss,...,authorities_contacted,incident_state,incident_city,witnesses,police_report_available,auto_make,auto_model,auto_year,_c39,total_claim_amount
0,Customer_541,239,41,FEMALE,JD,farming-fishing,paintball,other-relative,51400,-6300,...,Police,NC,Arlington,2,YES,Mercedes,E400,2013,NaN,14386.67
1,Customer_440,108,31,MALE,Masters,protective-serv,yachting,not-in-family,0,0,...,Fire,NY,Columbus,2,NO,Dodge,Neon,2006,NaN,76440.00
2,Customer_482,116,30,MALE,JD,handlers-cleaners,golf,not-in-family,0,-35500,...,Other,WV,Riverwood,3,?,Volkswagen,Passat,2004,NaN,79560.00
3,Customer_422,8,21,MALE,High School,handlers-cleaners,hiking,husband,0,0,...,Other,WV,Columbus,0,?,Toyota,Corolla,2012,NaN,121680.00
4,Customer_778,161,38,MALE,PhD,priv-house-serv,exercise,not-in-family,60200,0,...,Police,WV,Springfield,2,YES,Volkswagen,Jetta,2003,NaN,80640.00

In [8]:
data.shape

(1000, 37)

In [9]:
data.describe()

,months_as_customer,age,capital-gains,capital-loss,policy_number,policy_deductable,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,policy_annual_premium,umbrella_limit,insured_zip,witnesses,auto_year,_c39,total_claim_amount
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,0.0,700.000000
mean,203.954000,38.948000,25126.100000,-26793.700000,546238.648000,1136.000000,11.644000,1.83900,0.992000,1256.406150,1.101000e+06,501214.488000,1.487000,2005.103000,NaN,71900.933214
std,115.113174,9.140287,27872.187708,28104.096686,257063.005276,611.864673,6.951373,1.01888,0.820127,244.167395,2.297407e+06,71701.610941,1.111335,6.015861,NaN,34915.974923
min,0.000000,19.000000,0.000000,-111100.000000,100804.000000,500.000000,0.000000,1.00000,0.000000,433.330000,-1.000000e+06,430104.000000,0.000000,1995.000000,NaN,133.330000
25%,115.750000,32.000000,0.000000,-51500.000000,335980.250000,500.000000,6.000000,1.00000,0.000000,1089.607500,0.000000e+00,448404.500000,1.000000,2000.000000,NaN,58933.330000
50%,199.500000,38.000000,0.000000,-23250.000000,533135.000000,1000.000000,12.000000,1.00000,1.000000,1257.200000,0.000000e+00,466445.500000,1.000000,2005.000000,NaN,77733.330000
75%,276.250000,44.000000,51025.000000,0.000000,759099.750000,2000.000000,17.000000,3.00000,2.000000,1415.695000,0.000000e+00,603251.000000,2.000000,2010.000000,NaN,95503.332500
max,479.000000,64.000000,100500.000000,0.000000,999435.000000,2000.000000,23.000000,4.00000,2.000000,2047.590000,1.000000e+07,620962.000000,3.000000,2015.000000,NaN,153226.670000

In [10]:
## Deal with null values
#data.isnull().sum().sort_values(ascending=False)
data.isnull().sum()

Customer_ID                       0
months_as_customer                0
age                               0
insured_sex                       0
insured_education_level           0
insured_occupation                0
insured_hobbies                   0
insured_relationship              0
capital-gains                     0
capital-loss                      0
policy_number                     0
policy_bind_date                  0
policy_state                      0
policy_csl                        0
policy_deductable                 0
incident_location                 0
incident_hour_of_the_day          0
number_of_vehicles_involved       0
property_damage                   0
bodily_injuries                   0
policy_annual_premium             0
umbrella_limit                    0
insured_zip                       0
incident_date                     0
incident_type                     0
collision_type                    0
incident_severity                 0
authorities_contacted             0
incident_state                    0
incident_city                     0
witnesses                         0
police_report_available           0
auto_make                         0
auto_model                        0
auto_year                         0
_c39                           1000
total_claim_amount              300
dtype: int64

In [11]:
missing_val_count_by_column = (data.isnull().sum())
print(missing_val_count_by_column[missing_val_count_by_column > 0])

_c39                  1000
total_claim_amount     300
dtype: int64

In [12]:
#def full_NaN_by_mean_mod(data):
#    NaN_columns=data.columns[data.isnull().any()]
#    for i in NaN_columns:
#        if(data[i].dtypes=="object"):
#            data[i]=data[i].fillna(data[i].mode()[0])
#        else:
#            data[i]=data[i].fillna(data[i].mean())
#        return data
#full_NaN_by_mean_mod(data)

In [13]:
data = data.drop('_c39', axis = 1)
#data['_c39'].isnull().sum()

In [14]:
##Use the mean() method on all the null values
#missing_col = ['total_claim_amount']
#Technique 1: Using mean to impute the missing values
#for i in missing_col:
#    data.loc[data.loc[:,i].isnull(),i]=data.loc[:,i].mean()

In [15]:
##All the missing values is replaced
data.isnull().sum().sort_values(ascending=False)

total_claim_amount             300
auto_year                        0
incident_location                0
policy_deductable                0
policy_csl                       0
policy_state                     0
policy_bind_date                 0
policy_number                    0
capital-loss                     0
capital-gains                    0
insured_relationship             0
insured_hobbies                  0
insured_occupation               0
insured_education_level          0
insured_sex                      0
age                              0
months_as_customer               0
incident_hour_of_the_day         0
number_of_vehicles_involved      0
property_damage                  0
authorities_contacted            0
auto_model                       0
auto_make                        0
police_report_available          0
witnesses                        0
incident_city                    0
incident_state                   0
incident_severity                0
bodily_injuries                  0
collision_type                   0
incident_type                    0
incident_date                    0
insured_zip                      0
umbrella_limit                   0
policy_annual_premium            0
Customer_ID                      0
dtype: int64

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Customer_ID                  1000 non-null   object
 1   months_as_customer           1000 non-null   int64
 2   age                          1000 non-null   int64
 3   insured_sex                  1000 non-null   object
 4   insured_education_level      1000 non-null   object
 5   insured_occupation           1000 non-null   object
 6   insured_hobbies              1000 non-null   object
 7   insured_relationship         1000 non-null   object
 8   capital-gains                1000 non-null   int64
 9   capital-loss                 1000 non-null   int64
 10  policy_number                1000 non-null   int64
 11  policy_bind_date             1000 non-null   object
 12  policy_state                 1000 non-null   object
 13  policy_csl                   1000 non-null   object
 14  policy_deductable            1000 non-null   int64
 15  incident_location            1000 non-null   object
 16  incident_hour_of_the_day     1000 non-null   int64
 17  number_of_vehicles_involved  1000 non-null   int64
 18  property_damage              1000 non-null   object
 19  bodily_injuries              1000 non-null   int64
 20  policy_annual_premium        1000 non-null   float64
 21  umbrella_limit               1000 non-null   int64
 22  insured_zip                  1000 non-null   int64
 23  incident_date                1000 non-null   object
 24  incident_type                1000 non-null   object
 25  collision_type               1000 non-null   object
 26  incident_severity            1000 non-null   object
 27  authorities_contacted        1000 non-null   object
 28  incident_state               1000 non-null   object
 29  incident_city                1000 non-null   object
 30  witnesses                    1000 non-null   int64
 31  police_report_available      1000 non-null   object
 32  auto_make                    1000 non-null   object
 33  auto_model                   1000 non-null   object
 34  auto_year                    1000 non-null   int64
 35  total_claim_amount           700 non-null    float64
dtypes: float64(2), int64(13), object(21)
memory usage: 281.4+ KB

In [17]:
data.shape

(1000, 36)

In [18]:
#data.apply(lambda col: col.drop_duplicates().reset_index(drop=True))

In [19]:
## Categorical data
categorical = (data.dtypes == "object")
categorical_list = list(categorical[categorical].index)
print(categorical_list)

['Customer_ID', 'insured_sex', 'insured_education_level', 'insured_occupation', 'insured_hobbies', 'insured_relationship', 'policy_bind_date', 'policy_state', 'policy_csl', 'incident_location', 'property_damage', 'incident_date', 'incident_type', 'collision_type', 'incident_severity', 'authorities_contacted', 'incident_state', 'incident_city', 'police_report_available', 'auto_make', 'auto_model']

In [20]:
##Here I feel we can drop some features ie. “region” because they are not much important for prediction.
#Dropping least important feature of the dataset
#data = data.drop('insured_education_level', 'insured_occupation', 'insured_hobbies', 'insured_relationship', 'incident_location', axis = 1)

In [21]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['insured_sex'] = le.fit_transform(data['insured_sex'])
data['insured_education_level'] = le.fit_transform(data['insured_education_level'])
data['insured_occupation'] = le.fit_transform(data['insured_occupation'])
data['insured_hobbies'] = le.fit_transform(data['insured_hobbies'])
data['insured_relationship'] = le.fit_transform(data['insured_relationship'])
data['policy_bind_date'] = le.fit_transform(data['policy_bind_date'])
data['policy_state'] = le.fit_transform(data['policy_state'])
data['policy_csl'] = le.fit_transform(data['policy_csl'])
data['incident_location'] = le.fit_transform(data['incident_location'])
data['property_damage'] = le.fit_transform(data['property_damage'])
data['incident_date'] = le.fit_transform(data['incident_date'])
data['incident_type'] = le.fit_transform(data['incident_type'])
data['collision_type'] = le.fit_transform(data['collision_type'])
data['incident_severity'] = le.fit_transform(data['incident_severity'])
data['authorities_contacted'] = le.fit_transform(data['authorities_contacted'])
data['incident_state'] = le.fit_transform(data['incident_state'])
data['incident_city'] = le.fit_transform(data['incident_city'])
data['police_report_available'] = le.fit_transform(data['police_report_available'])
data['auto_make'] = le.fit_transform(data['auto_make'])
data['auto_model'] = le.fit_transform(data['auto_model'])

In [22]:
data.head()

,Customer_ID,months_as_customer,age,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,capital-gains,capital-loss,...,incident_severity,authorities_contacted,incident_state,incident_city,witnesses,police_report_available,auto_make,auto_model,auto_year,total_claim_amount
0,Customer_541,239,41,0,3,4,13,2,51400,-6300,...,3,4,0,0,2,2,8,12,2013,14386.67
1,Customer_440,108,31,1,5,10,19,1,0,0,...,2,1,1,1,2,1,4,27,2006,76440.00
2,Customer_482,116,30,1,3,5,9,1,0,-35500,...,0,3,6,5,3,0,13,28,2004,79560.00
3,Customer_422,8,21,1,2,5,10,0,0,0,...,0,3,6,1,0,0,12,11,2012,121680.00
4,Customer_778,161,38,1,6,8,8,1,60200,0,...,2,4,6,6,2,2,13,20,2003,80640.00

In [23]:
## Split the data into train and test data
train_data=data[:700]
test_data=data[700:]

print(train_data.shape)
print(test_data.shape)

(700, 36)
(300, 36)

In [24]:
train_data.drop(['Customer_ID'], axis ='columns', inplace= True)

test_data.drop(['Customer_ID'], axis ='columns', inplace= True)

/Applications/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [25]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 35 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           700 non-null    int64
 1   age                          700 non-null    int64
 2   insured_sex                  700 non-null    int64
 3   insured_education_level      700 non-null    int64
 4   insured_occupation           700 non-null    int64
 5   insured_hobbies              700 non-null    int64
 6   insured_relationship         700 non-null    int64
 7   capital-gains                700 non-null    int64
 8   capital-loss                 700 non-null    int64
 9   policy_number                700 non-null    int64
 10  policy_bind_date             700 non-null    int64
 11  policy_state                 700 non-null    int64
 12  policy_csl                   700 non-null    int64
 13  policy_deductable            700 non-null    int64
 14  incident_location            700 non-null    int64
 15  incident_hour_of_the_day     700 non-null    int64
 16  number_of_vehicles_involved  700 non-null    int64
 17  property_damage              700 non-null    int64
 18  bodily_injuries              700 non-null    int64
 19  policy_annual_premium        700 non-null    float64
 20  umbrella_limit               700 non-null    int64
 21  insured_zip                  700 non-null    int64
 22  incident_date                700 non-null    int64
 23  incident_type                700 non-null    int64
 24  collision_type               700 non-null    int64
 25  incident_severity            700 non-null    int64
 26  authorities_contacted        700 non-null    int64
 27  incident_state               700 non-null    int64
 28  incident_city                700 non-null    int64
 29  witnesses                    700 non-null    int64
 30  police_report_available      700 non-null    int64
 31  auto_make                    700 non-null    int64
 32  auto_model                   700 non-null    int64
 33  auto_year                    700 non-null    int64
 34  total_claim_amount           700 non-null    float64
dtypes: float64(2), int64(33)
memory usage: 191.5 KB

In [26]:
index_col = test_dataset['Customer_ID']
test_data.drop(['Customer_ID'], axis ='columns', inplace= True)
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 700 to 999
Data columns (total 35 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           300 non-null    int64
 1   age                          300 non-null    int64
 2   insured_sex                  300 non-null    int64
 3   insured_education_level      300 non-null    int64
 4   insured_occupation           300 non-null    int64
 5   insured_hobbies              300 non-null    int64
 6   insured_relationship         300 non-null    int64
 7   capital-gains                300 non-null    int64
 8   capital-loss                 300 non-null    int64
 9   policy_number                300 non-null    int64
 10  policy_bind_date             300 non-null    int64
 11  policy_state                 300 non-null    int64
 12  policy_csl                   300 non-null    int64
 13  policy_deductable            300 non-null    int64
 14  incident_location            300 non-null    int64
 15  incident_hour_of_the_day     300 non-null    int64
 16  number_of_vehicles_involved  300 non-null    int64
 17  property_damage              300 non-null    int64
 18  bodily_injuries              300 non-null    int64
 19  policy_annual_premium        300 non-null    float64
 20  umbrella_limit               300 non-null    int64
 21  insured_zip                  300 non-null    int64
 22  incident_date                300 non-null    int64
 23  incident_type                300 non-null    int64
 24  collision_type               300 non-null    int64
 25  incident_severity            300 non-null    int64
 26  authorities_contacted        300 non-null    int64
 27  incident_state               300 non-null    int64
 28  incident_city                300 non-null    int64
 29  witnesses                    300 non-null    int64
 30  police_report_available      300 non-null    int64
 31  auto_make                    300 non-null    int64
 32  auto_model                   300 non-null    int64
 33  auto_year                    300 non-null    int64
 34  total_claim_amount           0 non-null      float64
dtypes: float64(2), int64(33)
memory usage: 82.2 KB

In [27]:
y = train_data['total_claim_amount']
X = train_data.drop(['total_claim_amount'], axis = 1)
#test_data=test_data.drop(['total_claim_amount'], axis = 1).iloc[:-1].values
test_data = test_data.drop(['total_claim_amount'], axis = 1)

In [28]:
y.shape

(700,)

In [29]:
X.shape

(700, 34)

In [30]:
test_data.shape

(300, 34)

In [31]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [32]:
## Scale the data
from sklearn.preprocessing import StandardScaler
# creating a standard scaler
sc = StandardScaler()
# feeding independents sets into the standard scaler
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [33]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)

(560, 34)
(140, 34)
(560,)

In [34]:
# Linear Regression
from sklearn.linear_model import LinearRegression

In [35]:
# creating the Linear Regression model
lR = LinearRegression()

In [36]:
# # feeding the training data to the model
lR.fit(X_train, y_train)

LinearRegression()

In [37]:
ypred_lR = lR.predict(X_test)
print(ypred_lR)

[ 32429.78226075  66457.33581476  85872.05696026  30597.83004553
  53034.5564593   96878.54743345  86769.75168441  68211.813305
 104426.82156342  67881.42738511  56178.14183856  79340.84784545
  82080.10496256 102185.32155523  71467.11074065  54833.61396564
 100863.30923995  71031.53404212  69532.76142123  81554.31183989
  69674.83128222  87366.14684871  82548.92516244  86626.79267944
  71536.47552298  62026.31598367  64945.85364745  33849.7629926
  98798.15078523  67325.74359252  85208.95809343  79857.29117419
  87728.77795213  88603.33857984 109084.88563381  56793.50522959
 111727.10060419  39509.92697511  74221.42758251  70202.7578792
  74191.83374801  46671.58111688  94299.29306396 103024.7284577
  71502.70015738  58703.26387176  68391.30946378  63242.35631799
  89265.62570298  88055.33098781 105000.69799647  89832.26682999
 112502.43394912  50217.92391771  53515.99315145  47988.86612644
  73751.80513342  92953.32348248  72399.33102069  40745.49077904
  80823.42035335  79526.84110321  77145.69732427  20482.0818836
 105100.66634183  90549.38447563  84987.50029922  52279.24666002
  80076.88871027  81604.76465653  58585.69473699 109690.0053114
  86637.90521134  57531.8730277   57829.34229744  81419.83333456
  22045.20381267  72225.51630323  92151.73212262  74814.53305417
  91710.63267302  94012.42903826  82399.9846346   79770.63499905
  78384.97313687  87333.53480113  90035.952661    51094.94332953
  30605.19846413  22915.00144098  83850.26235424  64070.06996034
  30557.35787732  69254.93538424 111427.35671387  71261.42397216
  56544.42844284  69733.43636935  81237.66963184  84332.76709365
  77474.80452072  37376.51159176  48489.95979811  80857.29358488
  64279.08929503  89438.24650469  58677.87120041  80950.24334292
  65318.16635327  10042.16988206  25756.23891636  64952.28301161
  87082.59946624  67773.12887855  95468.55866013  29121.80576239
  92021.85691187  40693.98434184  81244.18175949  69795.62678976
  89803.6581924   89574.54324046  98159.30488998 100375.33440058
  27614.10828477  37641.85058126  62105.48559621  86832.24595326
  80885.78423818  37696.31549764  42547.62891884  76818.09484016
  92604.04022876  50407.0033333   80195.73329446  82031.2597949
  15463.62042154  78566.73861879  62867.14354518  64627.57771922]

In [38]:
from sklearn import metrics #import accuracy_score,mean_squared_error, r2_score
from math import sqrt
MSE = metrics.mean_squared_error(y_test, ypred_lR)
MSE

578618331.5655253

In [39]:
np.sqrt(MSE)

24054.486724216862

In [40]:
ypred_lR = lR.predict(test_data)

In [41]:
#submission = pd.DataFrame()
#submission["Customer_ID"] = testID
#submission["total_claim_amount "] = ypred_lR

#submission = pd.DataFrame()
#submission["Applicant_ID"] = testId
#submission["default_status"] = output

#submission = pd.DataFrame({'Customer_ID':index_col,'total_claim_amount':ypred_lR})

# Save results

#submission.to_csv('lR_Insurance_Claim.csv', index=False)


outputlR = pd.DataFrame({'Customer_ID': index_col, 'total_claim_amount': ypred_lR}) 

outputlR.to_csv('submission_outputlR.csv', index=False)

In [42]:
from sklearn.ensemble import RandomForestRegressor
RFRegressor = RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features=None, max_leaf_nodes=2,
                      max_samples=0.2, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=1.0, min_weight_fraction_leaf=0.0,
                      n_estimators=10, n_jobs=1, oob_score=False,
                      random_state=123, verbose=0, warm_start=False)

RFRegressor.fit(X_train, y_train)

RandomForestRegressor(max_features=None, max_leaf_nodes=2, max_samples=0.2,
                      min_samples_split=1.0, n_estimators=10, n_jobs=1,
                      random_state=123)

In [43]:
ypred_RFRegressor = RFRegressor.predict(X_test)
print(ypred_RFRegressor)

[70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143
 70045.15457143 70045.15457143 70045.15457143 70045.15457143]

In [44]:
#from sklearn.metrics import mean_squared_error
from sklearn import metrics #import accuracy_score,mean_squared_error, r2_score
from math import sqrt

MSE = metrics.mean_squared_error(y_test, ypred_RFRegressor)
MSE 
# sqrt(mean_squared_error(y_test, ypred_RFRegressor))

1168200327.4424236

In [45]:
np.sqrt(MSE)

34178.94567482186

In [46]:
ypred_RFRegressor = RFRegressor.predict(test_data.values)

In [47]:
#submission = pd.DataFrame()
#submission["Customer_ID"] = testID
#submission["total_claim_amount "] = ypred_RFRegressor

#submission = pd.DataFrame()
#submission["Applicant_ID"] = testId
#submission["default_status"] = output

#submission = pd.DataFrame({'Customer_ID':index_col,'total_claim_amount':ypred_lR})

# Save results

#submission.to_csv('RFRegressor_Insurance_Claim.csv', index=False)

outputRFR = pd.DataFrame({'Customer_ID': index_col, 'total_claim_amount': ypred_RFRegressor}) 

outputRFR.to_csv('submission_outputRFR_2.csv', index=False)

In [48]:
import xgboost as xgb
from xgboost import XGBRegressor

In [49]:
#xgbr = xgb.XGBRegressor(verbosity=0) 

xgbr = xgb.XGBRegressor(booster= 'gbtree', learning_rate=0.1, n_estimators=100, max_depth=6, objective ='reg:squarederror', 
                        seed = 123, gamma=1, subsample=0.7, verbosity=0, n_jobs=-1)
print(xgbr)

XGBRegressor(base_score=None, booster='gbtree', colsample_bylevel=None,
             colsample_bynode=None, colsample_bytree=None, gamma=1, gpu_id=None,
             importance_type='gain', interaction_constraints=None,
             learning_rate=0.1, max_delta_step=None, max_depth=6,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=-1, num_parallel_tree=None,
             random_state=None, reg_alpha=None, reg_lambda=None,
             scale_pos_weight=None, seed=123, subsample=0.7, tree_method=None,
             validate_parameters=None, verbosity=0)

In [50]:
xgbr.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=1, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.1, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=-1, num_parallel_tree=1, random_state=123,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=123,
             subsample=0.7, tree_method='exact', validate_parameters=1,
             verbosity=0)

In [51]:
ypred_xgbr = xgbr.predict(X_test)
print(ypred_xgbr)

[  6753.534   78714.29    86750.69     8575.857   88696.18    94175.17
  99078.375   76761.02    82028.37    75271.48    79439.17    90534.16
  82913.06    96934.97    95459.414   79920.01    85500.234   83368.125
  72245.56    86424.91    60907.117   79820.48    72185.63    71273.625
  91258.89    80402.92    89183.984   14755.907   85424.5     86833.484
  82285.12    93336.81    87974.22    75881.4     75072.62    76247.91
  89315.22    15389.981  106510.99    89659.09    72230.35    70907.45
  97010.07    92104.58    83728.35    91787.94    72108.414   87593.77
  75614.37    84001.24    75360.625   79673.77    71892.77    74895.29
  92023.1     90198.19    76225.62   101311.72    73727.8      7653.99
  84445.39    94672.55    89159.39    10280.273   97282.08    83345.88
  78579.04    94715.125   93780.875   97074.32    86369.69    91115.13
  73402.766   88148.945  104121.92    93599.1      7219.551   90222.734
  62496.082   86820.71    79119.81    79117.61    86131.44   109939.01
  78743.08    74155.1     93829.555  102607.43    11889.728   15320.375
  85677.35    89671.78     1544.2871  95027.445   83019.03    78462.055
  85885.016   90021.516   83457.914   89485.73    88141.62     6857.851
  11991.521   73172.1     76481.7     80853.16    81071.47    94207.86
  78499.695    7472.4883   7951.107   73001.98    75982.77    69536.14
  87491.07     5964.2915  79212.914   14055.45    84968.555   85495.07
  77406.54    71128.08    96736.27    83716.44     9135.502   10100.891
 104289.055   76383.1     79569.89    10977.849   13074.083   81686.54
  88245.6     15237.562   81522.49    86170.39    17009.248   83489.17
  94393.89    86183.26  ]

In [52]:
MSE = metrics.mean_squared_error(y_test, ypred_xgbr)
MSE

384170484.4191814

In [53]:
np.sqrt(MSE)

19600.267457848156

In [54]:
ypred_xgbr = xgbr.predict(test_data.values)

In [55]:
output_xgbr = pd.DataFrame({'Customer_ID': index_col, 'total_claim_amount': ypred_xgbr}) 

#output_xgbr.to_csv('submission_output_xgbr.csv', index=False)
output_xgbr.to_csv('submission_output_xgbr_tuned.csv', index=False)

In [75]:
from sklearn.model_selection import RandomizedSearchCV

xgbr = XGBRegressor()

parameters = {'objective':['reg:squarederror'],
              'learning_rate': [0.0001, 0.001, 0.01, 0.1, 0.2, 0.3], #so called `eta` value
              'max_depth': [3, 5, 7,],
              'min_child_weight': [1, 3, 5],
              'subsample': [0.5, 0.7],
              'colsample_bytree': [0.5, 0.7],
              'n_estimators': [100, 200, 400, 500, 600, 800, 1000]}

random_search = RandomizedSearchCV(xgbr, param_distributions=parameters,
                                   n_iter=10)

%time random_search.fit(X_train, y_train, early_stopping_rounds=5, eval_set=[(X_test, y_test)], verbose=0)

CPU times: user 34.1 s, sys: 1.94 s, total: 36 s
Wall time: 14.7 s

RandomizedSearchCV(estimator=XGBRegressor(base_score=None, booster=None,
                                          colsample_bylevel=None,
                                          colsample_bynode=None,
                                          colsample_bytree=None, gamma=None,
                                          gpu_id=None, importance_type='gain',
                                          interaction_constraints=None,
                                          learning_rate=None,
                                          max_delta_step=None, max_depth=None,
                                          min_child_weight=None, missing=nan,
                                          monotone_constraints=None,
                                          n_estimators=100, n_jobs...
                                          reg_lambda=None,
                                          scale_pos_weight=None, subsample=None,
                                          tree_method=None,
                                          validate_parameters=None,
                                          verbosity=None),
                   param_distributions={'colsample_bytree': [0.5, 0.7],
                                        'learning_rate': [0.0001, 0.001, 0.01,
                                                          0.1, 0.2, 0.3],
                                        'max_depth': [3, 5, 7],
                                        'min_child_weight': [1, 3, 5],
                                        'n_estimators': [100, 200, 400, 500,
                                                         600, 800, 1000],
                                        'objective': ['reg:squarederror'],
                                        'subsample': [0.5, 0.7]})

In [76]:
y_pred_random_search = random_search.predict(X_test)

random_search_mse_x = metrics.mean_squared_error(y_test, y_pred_random_search)

print("MSE: ", random_search_mse_x )

MSE:  337719263.84576744

In [77]:
print("RMSE: ", np.sqrt(random_search_mse_x))

RMSE:  18377.139707956932

In [78]:
y_pred_X = random_search.predict(test_data.values)

submission = pd.DataFrame({'Customer_ID':index_col,'total_claim_amount':y_pred_X})

# Save results
submission.to_csv("submission_pred_X.csv",index=False)

In [63]:
from sklearn.ensemble import GradientBoostingRegressor

regr = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, max_depth=None)
regr.fit(X_train, y_train)

GradientBoostingRegressor(max_depth=None)

In [64]:
y_pred = regr.predict(X_test)

In [65]:
MSE = metrics.mean_squared_error(y_test, y_pred)

print("MSE: ", MSE)

MSE:  696324164.8838314

In [66]:
np.sqrt(MSE)

26387.954920452463

In [67]:
y_pred = regr.predict(test_data.values)

In [68]:
output_gbr = pd.DataFrame({'Customer_ID': index_col, 'total_claim_amount': y_pred}) 

output_gbr.to_csv('submission_output_gbr.csv', index=False)

In [69]:
def hyperParameterTuning(X_train, y_train):
    param_tuning = {
        'learning_rate': [0.0001, 0.001, 0.01, 0.1, 0.2, 0.3],
        'max_depth': [3, 5, 7, 10],
        'min_child_weight': [1, 3, 5],
        'subsample': [0.5, 0.7],
        'colsample_bytree': [0.5, 0.7],
        'n_estimators' : [100, 200, 400, 500, 600, 800, 1000],
        'objective': ['reg:squarederror']
    }

    xgbr_model = XGBRegressor()

    gsearch = GridSearchCV(estimator = xgbr_model,
                           param_grid = param_tuning,                        
                           scoring_MSE = 'neg_mean_squared_error',  #MSE
                           cv = 10,
                           n_jobs = -1,
                           verbose = 1)

    gsearch.fit(X_train,y_train)

    return gsearch.best_params_

In [70]:
xgbr_model = XGBRegressor(
        objective = 'reg:squarederror',
        colsample_bytree = 0.5,
        learning_rate = 0.1,
        max_depth = None,
        min_child_weight = 1,
        n_estimators = 100,
        subsample = 0.7)

%time xgbr_model.fit(X_train, y_train, early_stopping_rounds=5, eval_set=[(X_test, y_test)], verbose=1)

y_pred_xgbr = xgbr_model.predict(X_test)

mse_xgbr = metrics.mean_squared_error(y_test, y_pred_xgbr)

print("MSE: ", mse_xgbr)

[0]	validation_0-rmse:73589.25000
[1]	validation_0-rmse:66784.12500
[2]	validation_0-rmse:61311.77734
[3]	validation_0-rmse:55939.49609
[4]	validation_0-rmse:51145.27344
[5]	validation_0-rmse:47428.36719
[6]	validation_0-rmse:43585.26172
[7]	validation_0-rmse:40357.02344
[8]	validation_0-rmse:37404.02344
[9]	validation_0-rmse:34760.76953
[10]	validation_0-rmse:32395.87109
[11]	validation_0-rmse:30275.49805
[12]	validation_0-rmse:28599.85156
[13]	validation_0-rmse:26947.27539
[14]	validation_0-rmse:25596.97070
[15]	validation_0-rmse:24482.33203
[16]	validation_0-rmse:23568.50977
[17]	validation_0-rmse:22600.84375
[18]	validation_0-rmse:21736.11328
[19]	validation_0-rmse:21179.22461
[20]	validation_0-rmse:20612.40625
[21]	validation_0-rmse:20212.49023
[22]	validation_0-rmse:19918.50977
[23]	validation_0-rmse:19564.86914
[24]	validation_0-rmse:19334.48633
[25]	validation_0-rmse:19094.00781
[26]	validation_0-rmse:18853.18945
[27]	validation_0-rmse:18689.23633
[28]	validation_0-rmse:18491.00977
[29]	validation_0-rmse:18371.91992
[30]	validation_0-rmse:18251.45312
[31]	validation_0-rmse:18220.23242
[32]	validation_0-rmse:18134.18555
[33]	validation_0-rmse:18102.77734
[34]	validation_0-rmse:18067.69531
[35]	validation_0-rmse:18076.91211
[36]	validation_0-rmse:18106.90430
[37]	validation_0-rmse:18095.68164
[38]	validation_0-rmse:18059.61719
[39]	validation_0-rmse:18093.41797
[40]	validation_0-rmse:17984.74609
[41]	validation_0-rmse:17951.03516
[42]	validation_0-rmse:17979.17188
[43]	validation_0-rmse:18098.84961
[44]	validation_0-rmse:18119.35156
[45]	validation_0-rmse:18157.27734
CPU times: user 471 ms, sys: 74.7 ms, total: 546 ms
Wall time: 628 ms
MSE:  322239644.7259495

In [71]:
np.sqrt(mse_xgbr)

17951.03464221351

In [72]:
y_pred_xgbr_model = xgbr_model.predict(test_data.values)

submission = pd.DataFrame({'Customer_ID':index_col,'total_claim_amount':y_pred_xgbr_model})

# Save results
submission.to_csv("submission_xgbr_model.csv",index=False)

#output_gbr = pd.DataFrame({'Customer_ID': index_col, 'total_claim_amount': y_pred}) 

#output_gbr.to_csv('submission_output_gbr.csv', index=False)

In [70]:
from sklearn.model_selection import GridSearchCV
xgbr = XGBRegressor()
parameters = {'nthread':[None], #when use hyperthread, xgboost may become slower
              'objective':['reg:squarederror'],
              'learning_rate': [0.0001, 0.001, 0.01, 0.1, 0.2, 0.3], #so called `eta` value
              'max_depth': [3, 5, 6, 7, 10],
              'min_child_weight': [1, 3, 4, 5],
              'silent': [None],
              'subsample': [0.7],
              'colsample_bytree': [0.5, 0.7],
              'n_estimators': [100, 200, 400, 500, 600, 800, 1000]
             }

xgbr_grid = GridSearchCV(xgbr,
                        parameters,
                        cv = 2,
                        n_jobs = -1,
                        verbose=0)

xgbr_grid.fit(X_train,
         y_train)

print(xgbr_grid.best_score_)
print(xgbr_grid.best_params_)

0.6618576106985813
{'colsample_bytree': 0.7, 'learning_rate': 0.01, 'max_depth': 3, 'min_child_weight': 5, 'n_estimators': 500, 'nthread': 4, 'objective': 'reg:squarederror', 'silent': 1, 'subsample': 0.7}

In [71]:
y_pred_xgbr_grid = xgbr_grid.predict(X_test)

mse_xgbr_grid = metrics.mean_squared_error(y_test, y_pred_xgbr_grid)

print("MSE: ", mse_xgbr_grid)

MSE:  339622563.916487

In [72]:
np.sqrt(mse_xgbr_grid)

18428.85139981564

In [73]:
y_pred_xgbr_grid = xgbr_grid.predict(test_data.values)

submission = pd.DataFrame({'Customer_ID':index_col,'total_claim_amount':y_pred_xgbr_grid})

# Save results
submission.to_csv("submission_xgbr_grid.csv",index=False)

In [76]:
xgbr_model = XGBRegressor(
    objective = 'reg:squarederror',
    colsample_bytree = 0.7,
    learning_rate = 0.01,
    max_depth = 3,
    min_child_weight = 5,
    silent = 1,
    n_estimators = 500,
    subsample = 0.7,
    nthread = 4)

%time xgbr_model.fit(X_train, y_train, early_stopping_rounds=5, eval_set=[(X_test, y_test)], verbose=1)

y_pred_xgbr_model = xgbr_model.predict(X_test)

mse_xgbr_model = metrics.mean_squared_error(y_test, y_pred_xgbr_model)

print("MSE: ", mse_xgbr_model)

[0]	validation_0-rmse:80353.31250
[1]	validation_0-rmse:79594.75000
[2]	validation_0-rmse:78861.49219
[3]	validation_0-rmse:78132.11719
[4]	validation_0-rmse:77404.35156
[5]	validation_0-rmse:76731.36719
[6]	validation_0-rmse:76024.80469
[7]	validation_0-rmse:75382.74219
[8]	validation_0-rmse:74683.53906
[9]	validation_0-rmse:73995.46094
[10]	validation_0-rmse:73319.37500
[11]	validation_0-rmse:72645.08594
[12]	validation_0-rmse:71984.06250
[13]	validation_0-rmse:71330.91406
[14]	validation_0-rmse:70680.96094
[15]	validation_0-rmse:70035.10938
[16]	validation_0-rmse:69433.37500
[17]	validation_0-rmse:68805.03906
[18]	validation_0-rmse:68189.03125
[19]	validation_0-rmse:67566.64844
[20]	validation_0-rmse:66959.42969
[21]	validation_0-rmse:66351.94531
[22]	validation_0-rmse:65752.74219
[23]	validation_0-rmse:65192.58203
[24]	validation_0-rmse:64608.13281
[25]	validation_0-rmse:64031.48828
[26]	validation_0-rmse:63482.64453
[27]	validation_0-rmse:62940.90625
[28]	validation_0-rmse:62362.66016
[29]	validation_0-rmse:61827.73438
[30]	validation_0-rmse:61302.26172
[31]	validation_0-rmse:60763.69531
[32]	validation_0-rmse:60222.64453
[33]	validation_0-rmse:59690.21484
[34]	validation_0-rmse:59160.39062
[35]	validation_0-rmse:58630.26953
[36]	validation_0-rmse:58147.53516
[37]	validation_0-rmse:57646.13672
[38]	validation_0-rmse:57144.05078
[39]	validation_0-rmse:56669.96484
[40]	validation_0-rmse:56183.72266
[41]	validation_0-rmse:55731.44922
[42]	validation_0-rmse:55308.40625
[43]	validation_0-rmse:54876.46094
[44]	validation_0-rmse:54395.33984
[45]	validation_0-rmse:53918.53125
[46]	validation_0-rmse:53454.16406
[47]	validation_0-rmse:53007.63672
[48]	validation_0-rmse:52554.17578
[49]	validation_0-rmse:52109.27734
[50]	validation_0-rmse:51672.55078
[51]	validation_0-rmse:51254.14453
[52]	validation_0-rmse:50806.26562
[53]	validation_0-rmse:50366.51953
[54]	validation_0-rmse:49946.69141
[55]	validation_0-rmse:49553.83594
[56]	validation_0-rmse:49138.55078
[57]	validation_0-rmse:48733.20312
[58]	validation_0-rmse:48342.92969
[59]	validation_0-rmse:47956.95312
[60]	validation_0-rmse:47556.96484
[61]	validation_0-rmse:47166.08984
[62]	validation_0-rmse:46770.36719
[63]	validation_0-rmse:46397.52734
[64]	validation_0-rmse:46011.85547
[65]	validation_0-rmse:45644.62891
[66]	validation_0-rmse:45293.09766
[67]	validation_0-rmse:44948.40234
[68]	validation_0-rmse:44589.21094
[69]	validation_0-rmse:44219.59766
[70]	validation_0-rmse:43865.00000
[71]	validation_0-rmse:43506.19141
[72]	validation_0-rmse:43162.50391
[73]	validation_0-rmse:42816.42188
[74]	validation_0-rmse:42476.46094
[75]	validation_0-rmse:42164.34766
[76]	validation_0-rmse:41854.66406
[77]	validation_0-rmse:41522.75000
[78]	validation_0-rmse:41232.11719
[79]	validation_0-rmse:40905.39844
[80]	validation_0-rmse:40580.38281
[81]	validation_0-rmse:40274.06250
[82]	validation_0-rmse:39952.07812
[83]	validation_0-rmse:39652.20312
[84]	validation_0-rmse:39336.64844
[85]	validation_0-rmse:39061.45312
[86]	validation_0-rmse:38769.72656
[87]	validation_0-rmse:38509.17969
[88]	validation_0-rmse:38227.65625
[89]	validation_0-rmse:37932.66406
[90]	validation_0-rmse:37651.86719
[91]	validation_0-rmse:37380.39453
[92]	validation_0-rmse:37106.01172
[93]	validation_0-rmse:36841.56641
[94]	validation_0-rmse:36578.21484
[95]	validation_0-rmse:36305.44141
[96]	validation_0-rmse:36071.21094
[97]	validation_0-rmse:35820.55078
[98]	validation_0-rmse:35572.19531
[99]	validation_0-rmse:35314.48828
[100]	validation_0-rmse:35067.41016
[101]	validation_0-rmse:34816.94922
[102]	validation_0-rmse:34582.23438
[103]	validation_0-rmse:34338.65234
[104]	validation_0-rmse:34120.72266
[105]	validation_0-rmse:33904.50391
[106]	validation_0-rmse:33673.33594
[107]	validation_0-rmse:33441.77734
[108]	validation_0-rmse:33212.73047
[109]	validation_0-rmse:32987.28906
[110]	validation_0-rmse:32780.41406
[111]	validation_0-rmse:32589.53516
[112]	validation_0-rmse:32373.77734
[113]	validation_0-rmse:32160.44141
[114]	validation_0-rmse:31977.66992
[115]	validation_0-rmse:31777.58008
[116]	validation_0-rmse:31587.12500
[117]	validation_0-rmse:31403.58203
[118]	validation_0-rmse:31206.92969
[119]	validation_0-rmse:31018.03711
[120]	validation_0-rmse:30820.06250
[121]	validation_0-rmse:30625.21484
[122]	validation_0-rmse:30437.00977
[123]	validation_0-rmse:30256.39062
[124]	validation_0-rmse:30084.29492
[125]	validation_0-rmse:29898.66992
[126]	validation_0-rmse:29740.96094
[127]	validation_0-rmse:29569.59766
[128]	validation_0-rmse:29404.01367
[129]	validation_0-rmse:29228.23242
[130]	validation_0-rmse:29064.16211
[131]	validation_0-rmse:28905.49414
[132]	validation_0-rmse:28739.02930
[133]	validation_0-rmse:28586.89453
[134]	validation_0-rmse:28434.92969
[135]	validation_0-rmse:28274.36133
[136]	validation_0-rmse:28121.76367
[137]	validation_0-rmse:27986.49805
[138]	validation_0-rmse:27841.33008
[139]	validation_0-rmse:27688.58789
[140]	validation_0-rmse:27541.52930
[141]	validation_0-rmse:27401.21875
[142]	validation_0-rmse:27253.84180
[143]	validation_0-rmse:27104.68359
[144]	validation_0-rmse:26963.49219
[145]	validation_0-rmse:26819.02734
[146]	validation_0-rmse:26682.78125
[147]	validation_0-rmse:26542.85547
[148]	validation_0-rmse:26410.19727
[149]	validation_0-rmse:26274.59961
[150]	validation_0-rmse:26152.15625
[151]	validation_0-rmse:26036.05078
[152]	validation_0-rmse:25915.29102
[153]	validation_0-rmse:25787.56445
[154]	validation_0-rmse:25659.52539
[155]	validation_0-rmse:25540.09961
[156]	validation_0-rmse:25423.84961
[157]	validation_0-rmse:25306.89258
[158]	validation_0-rmse:25187.89844
[159]	validation_0-rmse:25081.10156
[160]	validation_0-rmse:24986.39258
[161]	validation_0-rmse:24872.88086
[162]	validation_0-rmse:24774.47656
[163]	validation_0-rmse:24666.23047
[164]	validation_0-rmse:24558.40039
[165]	validation_0-rmse:24460.91602
[166]	validation_0-rmse:24358.37695
[167]	validation_0-rmse:24253.94531
[168]	validation_0-rmse:24155.49023
[169]	validation_0-rmse:24050.47070
[170]	validation_0-rmse:23957.45703
[171]	validation_0-rmse:23859.37695
[172]	validation_0-rmse:23756.52539
[173]	validation_0-rmse:23669.98828
[174]	validation_0-rmse:23577.53711
[175]	validation_0-rmse:23487.41992
[176]	validation_0-rmse:23386.76758
[177]	validation_0-rmse:23311.24023
[178]	validation_0-rmse:23223.78320
[179]	validation_0-rmse:23150.43555
[180]	validation_0-rmse:23066.22656
[181]	validation_0-rmse:22996.78711
[182]	validation_0-rmse:22919.92773
[183]	validation_0-rmse:22832.70312
[184]	validation_0-rmse:22755.87695
[185]	validation_0-rmse:22683.53320
[186]	validation_0-rmse:22607.17188
[187]	validation_0-rmse:22536.26758
[188]	validation_0-rmse:22465.40234
[189]	validation_0-rmse:22393.02148
[190]	validation_0-rmse:22325.25195
[191]	validation_0-rmse:22256.26562
[192]	validation_0-rmse:22187.16406
[193]	validation_0-rmse:22128.04102
[194]	validation_0-rmse:22060.50977
[195]	validation_0-rmse:22000.48633
[196]	validation_0-rmse:21942.40820
[197]	validation_0-rmse:21880.01367
[198]	validation_0-rmse:21823.58008
[199]	validation_0-rmse:21759.42578
[200]	validation_0-rmse:21692.10938
[201]	validation_0-rmse:21629.13672
[202]	validation_0-rmse:21584.42578
[203]	validation_0-rmse:21522.89648
[204]	validation_0-rmse:21465.74414
[205]	validation_0-rmse:21416.94727
[206]	validation_0-rmse:21360.10938
[207]	validation_0-rmse:21302.69922
[208]	validation_0-rmse:21247.98438
[209]	validation_0-rmse:21200.05664
[210]	validation_0-rmse:21144.16797
[211]	validation_0-rmse:21101.79297
[212]	validation_0-rmse:21058.18750
[213]	validation_0-rmse:21004.29688
[214]	validation_0-rmse:20952.41602
[215]	validation_0-rmse:20905.88281
[216]	validation_0-rmse:20863.63281
[217]	validation_0-rmse:20816.69141
[218]	validation_0-rmse:20761.58594
[219]	validation_0-rmse:20724.15430
[220]	validation_0-rmse:20689.86719
[221]	validation_0-rmse:20639.11719
[222]	validation_0-rmse:20594.20898
[223]	validation_0-rmse:20549.34180
[224]	validation_0-rmse:20516.43945
[225]	validation_0-rmse:20465.73633
[226]	validation_0-rmse:20435.49023
[227]	validation_0-rmse:20410.83008
[228]	validation_0-rmse:20375.16992
[229]	validation_0-rmse:20331.81250
[230]	validation_0-rmse:20294.77539
[231]	validation_0-rmse:20256.37695
[232]	validation_0-rmse:20228.83789
[233]	validation_0-rmse:20197.33984
[234]	validation_0-rmse:20170.46094
[235]	validation_0-rmse:20130.83984
[236]	validation_0-rmse:20086.18555
[237]	validation_0-rmse:20050.83984
[238]	validation_0-rmse:20011.29883
[239]	validation_0-rmse:19977.64062
[240]	validation_0-rmse:19955.08398
[241]	validation_0-rmse:19927.66602
[242]	validation_0-rmse:19906.04102
[243]	validation_0-rmse:19874.00781
[244]	validation_0-rmse:19862.08984
[245]	validation_0-rmse:19838.44727
[246]	validation_0-rmse:19813.97656
[247]	validation_0-rmse:19788.41016
[248]	validation_0-rmse:19752.84180
[249]	validation_0-rmse:19722.64258
[250]	validation_0-rmse:19692.93555
[251]	validation_0-rmse:19670.85742
[252]	validation_0-rmse:19653.08008
[253]	validation_0-rmse:19628.34961
[254]	validation_0-rmse:19608.97461
[255]	validation_0-rmse:19582.71094
[256]	validation_0-rmse:19553.94336
[257]	validation_0-rmse:19535.76562
[258]	validation_0-rmse:19527.72266
[259]	validation_0-rmse:19498.34180
[260]	validation_0-rmse:19478.05078
[261]	validation_0-rmse:19460.28711
[262]	validation_0-rmse:19431.13281
[263]	validation_0-rmse:19407.88086
[264]	validation_0-rmse:19394.19141
[265]	validation_0-rmse:19380.03516
[266]	validation_0-rmse:19357.61523
[267]	validation_0-rmse:19333.94531
[268]	validation_0-rmse:19315.66406
[269]	validation_0-rmse:19304.57031
[270]	validation_0-rmse:19290.24219
[271]	validation_0-rmse:19272.22852
[272]	validation_0-rmse:19247.55469
[273]	validation_0-rmse:19235.67188
[274]	validation_0-rmse:19220.24805
[275]	validation_0-rmse:19207.29102
[276]	validation_0-rmse:19189.22656
[277]	validation_0-rmse:19166.75586
[278]	validation_0-rmse:19146.38672
[279]	validation_0-rmse:19129.20312
[280]	validation_0-rmse:19115.95312
[281]	validation_0-rmse:19097.42578
[282]	validation_0-rmse:19089.01953
[283]	validation_0-rmse:19072.45703
[284]	validation_0-rmse:19055.14844
[285]	validation_0-rmse:19043.47266
[286]	validation_0-rmse:19030.77930
[287]	validation_0-rmse:19013.16797
[288]	validation_0-rmse:18997.73242
[289]	validation_0-rmse:18987.33984
[290]	validation_0-rmse:18980.44531
[291]	validation_0-rmse:18965.12109
[292]	validation_0-rmse:18959.77344
[293]	validation_0-rmse:18951.04297
[294]	validation_0-rmse:18942.37695
[295]	validation_0-rmse:18937.94336
[296]	validation_0-rmse:18913.00000
[297]	validation_0-rmse:18902.38477
[298]	validation_0-rmse:18887.03125
[299]	validation_0-rmse:18869.12891
[300]	validation_0-rmse:18862.90234
[301]	validation_0-rmse:18848.04688
[302]	validation_0-rmse:18833.90820
[303]	validation_0-rmse:18825.00195
[304]	validation_0-rmse:18812.79688
[305]	validation_0-rmse:18809.62305
[306]	validation_0-rmse:18803.09961
[307]	validation_0-rmse:18787.56836
[308]	validation_0-rmse:18781.01758
[309]	validation_0-rmse:18761.31250
[310]	validation_0-rmse:18754.75781
[311]	validation_0-rmse:18742.71875
[312]	validation_0-rmse:18734.61719
[313]	validation_0-rmse:18728.20508
[314]	validation_0-rmse:18721.35352
[315]	validation_0-rmse:18718.23828
[316]	validation_0-rmse:18712.86328
[317]	validation_0-rmse:18704.06836
[318]	validation_0-rmse:18703.13086
[319]	validation_0-rmse:18695.31836
[320]	validation_0-rmse:18687.10742
[321]	validation_0-rmse:18681.61719
[322]	validation_0-rmse:18672.33789
[323]	validation_0-rmse:18665.99609
[324]	validation_0-rmse:18662.79102
[325]	validation_0-rmse:18666.41797
[326]	validation_0-rmse:18664.23828
[327]	validation_0-rmse:18656.96484
[328]	validation_0-rmse:18644.10156
[329]	validation_0-rmse:18634.78711
[330]	validation_0-rmse:18633.68750
[331]	validation_0-rmse:18628.13281
[332]	validation_0-rmse:18622.06836
[333]	validation_0-rmse:18616.31445
[334]	validation_0-rmse:18613.10156
[335]	validation_0-rmse:18620.17578
[336]	validation_0-rmse:18610.72070
[337]	validation_0-rmse:18609.45312
[338]	validation_0-rmse:18597.93164
[339]	validation_0-rmse:18592.03711
[340]	validation_0-rmse:18589.02148
[341]	validation_0-rmse:18586.08789
[342]	validation_0-rmse:18575.92773
[343]	validation_0-rmse:18572.74219
[344]	validation_0-rmse:18565.70703
[345]	validation_0-rmse:18558.28516
[346]	validation_0-rmse:18557.06445
[347]	validation_0-rmse:18546.13672
[348]	validation_0-rmse:18535.06055
[349]	validation_0-rmse:18532.27930
[350]	validation_0-rmse:18529.35547
[351]	validation_0-rmse:18527.04688
[352]	validation_0-rmse:18525.98633
[353]	validation_0-rmse:18513.41992
[354]	validation_0-rmse:18512.58008
[355]	validation_0-rmse:18497.63477
[356]	validation_0-rmse:18502.92383
[357]	validation_0-rmse:18508.34961
[358]	validation_0-rmse:18499.20117
[359]	validation_0-rmse:18499.40820
CPU times: user 2.01 s, sys: 368 ms, total: 2.38 s
Wall time: 4.42 s
MSE:  342162422.66876954

In [77]:
RMSE = np.sqrt(mse_xgbr_model)

print("RMSE: ", RMSE)

RMSE:  18497.632893664246

In [79]:
y_pred_xgbr_model = xgbr_model.predict(test_data.values)

submission = pd.DataFrame({'Customer_ID':index_col,'total_claim_amount':y_pred_xgbr_model})

# Save results
submission.to_csv("submission_xgbr_model.csv",index=False)