In [59]:
##Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [60]:
# Loading the train data and drop 'Customer_ID' becos it won't be useful
train_dataset = pd.read_csv('train.csv')
#train_dataset.drop(['Customer_ID'], axis ='columns', inplace= True)
train_dataset.head()

,Customer_ID,months_as_customer,age,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,capital-gains,capital-loss,...,authorities_contacted,incident_state,incident_city,witnesses,police_report_available,auto_make,auto_model,auto_year,_c39,total_claim_amount
0,Customer_541,239,41,FEMALE,JD,farming-fishing,paintball,other-relative,51400,-6300,...,Police,NC,Arlington,2,YES,Mercedes,E400,2013,NaN,14386.67
1,Customer_440,108,31,MALE,Masters,protective-serv,yachting,not-in-family,0,0,...,Fire,NY,Columbus,2,NO,Dodge,Neon,2006,NaN,76440.00
2,Customer_482,116,30,MALE,JD,handlers-cleaners,golf,not-in-family,0,-35500,...,Other,WV,Riverwood,3,?,Volkswagen,Passat,2004,NaN,79560.00
3,Customer_422,8,21,MALE,High School,handlers-cleaners,hiking,husband,0,0,...,Other,WV,Columbus,0,?,Toyota,Corolla,2012,NaN,121680.00
4,Customer_778,161,38,MALE,PhD,priv-house-serv,exercise,not-in-family,60200,0,...,Police,WV,Springfield,2,YES,Volkswagen,Jetta,2003,NaN,80640.00

In [61]:
train_dataset.shape

(700, 37)

In [62]:
# Loading the test data and drop 'Customer_ID' becos it won't be useful
test_dataset = pd.read_csv('test.csv')
#index_col = test_dataset['Customer_ID']
#data.drop(['Customer_ID'], axis ='columns', inplace= True)
#test_dataset.drop(['Customer_ID'], axis ='columns', inplace= True)
test_dataset.head()

,Customer_ID,months_as_customer,age,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,capital-gains,capital-loss,...,incident_severity,authorities_contacted,incident_state,incident_city,witnesses,police_report_available,auto_make,auto_model,auto_year,_c39
0,Customer_521,5,26,FEMALE,PhD,farming-fishing,skydiving,not-in-family,31500,0,...,Total Loss,Ambulance,WV,Springfield,3,?,Audi,A5,2003,NaN
1,Customer_737,160,33,FEMALE,High School,exec-managerial,exercise,husband,61600,0,...,Total Loss,Ambulance,NC,Riverwood,3,YES,Nissan,Pathfinder,2006,NaN
2,Customer_740,385,51,FEMALE,MD,craft-repair,reading,husband,0,-61000,...,Minor Damage,Other,WV,Riverwood,3,?,Suburu,Legacy,2007,NaN
3,Customer_660,446,57,MALE,College,adm-clerical,sleeping,unmarried,42700,-64900,...,Total Loss,Police,SC,Northbrook,0,NO,Jeep,Wrangler,2012,NaN
4,Customer_411,84,29,FEMALE,High School,machine-op-inspct,video-games,not-in-family,0,-29900,...,Trivial Damage,Police,SC,Arlington,0,YES,BMW,3 Series,2005,NaN

In [63]:
test_dataset.shape

(300, 36)

In [64]:
## Concatenate train_test and test_data to data
data = pd.concat((train_dataset, test_dataset)).reset_index(drop=True)
data.head()

,Customer_ID,months_as_customer,age,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,capital-gains,capital-loss,...,authorities_contacted,incident_state,incident_city,witnesses,police_report_available,auto_make,auto_model,auto_year,_c39,total_claim_amount
0,Customer_541,239,41,FEMALE,JD,farming-fishing,paintball,other-relative,51400,-6300,...,Police,NC,Arlington,2,YES,Mercedes,E400,2013,NaN,14386.67
1,Customer_440,108,31,MALE,Masters,protective-serv,yachting,not-in-family,0,0,...,Fire,NY,Columbus,2,NO,Dodge,Neon,2006,NaN,76440.00
2,Customer_482,116,30,MALE,JD,handlers-cleaners,golf,not-in-family,0,-35500,...,Other,WV,Riverwood,3,?,Volkswagen,Passat,2004,NaN,79560.00
3,Customer_422,8,21,MALE,High School,handlers-cleaners,hiking,husband,0,0,...,Other,WV,Columbus,0,?,Toyota,Corolla,2012,NaN,121680.00
4,Customer_778,161,38,MALE,PhD,priv-house-serv,exercise,not-in-family,60200,0,...,Police,WV,Springfield,2,YES,Volkswagen,Jetta,2003,NaN,80640.00

In [65]:
data.shape

(1000, 37)

In [66]:
## Deal with null values
#data.isnull().sum().sort_values(ascending=False)
data.isnull().sum()

Customer_ID                       0
months_as_customer                0
age                               0
insured_sex                       0
insured_education_level           0
insured_occupation                0
insured_hobbies                   0
insured_relationship              0
capital-gains                     0
capital-loss                      0
policy_number                     0
policy_bind_date                  0
policy_state                      0
policy_csl                        0
policy_deductable                 0
incident_location                 0
incident_hour_of_the_day          0
number_of_vehicles_involved       0
property_damage                   0
bodily_injuries                   0
policy_annual_premium             0
umbrella_limit                    0
insured_zip                       0
incident_date                     0
incident_type                     0
collision_type                    0
incident_severity                 0
authorities_contacted             0
incident_state                    0
incident_city                     0
witnesses                         0
police_report_available           0
auto_make                         0
auto_model                        0
auto_year                         0
_c39                           1000
total_claim_amount              300
dtype: int64

In [67]:
missing_val_count_by_column = (data.isnull().sum())
print(missing_val_count_by_column[missing_val_count_by_column > 0])

_c39                  1000
total_claim_amount     300
dtype: int64

In [68]:
## Drop _c39 coulmn, the column has no values at all
data = data.drop('_c39', axis = 1)
##Use the mean() method on all the null values
#missing_col = ['total_claim_amount']
#Technique 1: Using mean to impute the missing values
#for i in missing_col:
#    data.loc[data.loc[:,i].isnull(),i]=data.loc[:,i].mean()

In [69]:
##All the missing values is replaced
data.isnull().sum().sort_values(ascending=False)

total_claim_amount             300
auto_year                        0
incident_location                0
policy_deductable                0
policy_csl                       0
policy_state                     0
policy_bind_date                 0
policy_number                    0
capital-loss                     0
capital-gains                    0
insured_relationship             0
insured_hobbies                  0
insured_occupation               0
insured_education_level          0
insured_sex                      0
age                              0
months_as_customer               0
incident_hour_of_the_day         0
number_of_vehicles_involved      0
property_damage                  0
authorities_contacted            0
auto_model                       0
auto_make                        0
police_report_available          0
witnesses                        0
incident_city                    0
incident_state                   0
incident_severity                0
bodily_injuries                  0
collision_type                   0
incident_type                    0
incident_date                    0
insured_zip                      0
umbrella_limit                   0
policy_annual_premium            0
Customer_ID                      0
dtype: int64

In [70]:
data.shape

(1000, 36)

In [71]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Customer_ID                  1000 non-null   object
 1   months_as_customer           1000 non-null   int64
 2   age                          1000 non-null   int64
 3   insured_sex                  1000 non-null   object
 4   insured_education_level      1000 non-null   object
 5   insured_occupation           1000 non-null   object
 6   insured_hobbies              1000 non-null   object
 7   insured_relationship         1000 non-null   object
 8   capital-gains                1000 non-null   int64
 9   capital-loss                 1000 non-null   int64
 10  policy_number                1000 non-null   int64
 11  policy_bind_date             1000 non-null   object
 12  policy_state                 1000 non-null   object
 13  policy_csl                   1000 non-null   object
 14  policy_deductable            1000 non-null   int64
 15  incident_location            1000 non-null   object
 16  incident_hour_of_the_day     1000 non-null   int64
 17  number_of_vehicles_involved  1000 non-null   int64
 18  property_damage              1000 non-null   object
 19  bodily_injuries              1000 non-null   int64
 20  policy_annual_premium        1000 non-null   float64
 21  umbrella_limit               1000 non-null   int64
 22  insured_zip                  1000 non-null   int64
 23  incident_date                1000 non-null   object
 24  incident_type                1000 non-null   object
 25  collision_type               1000 non-null   object
 26  incident_severity            1000 non-null   object
 27  authorities_contacted        1000 non-null   object
 28  incident_state               1000 non-null   object
 29  incident_city                1000 non-null   object
 30  witnesses                    1000 non-null   int64
 31  police_report_available      1000 non-null   object
 32  auto_make                    1000 non-null   object
 33  auto_model                   1000 non-null   object
 34  auto_year                    1000 non-null   int64
 35  total_claim_amount           700 non-null    float64
dtypes: float64(2), int64(13), object(21)
memory usage: 281.4+ KB

In [72]:
## Categorical data
categorical = (data.dtypes == "object")
categorical_list = list(categorical[categorical].index)
print(categorical_list)

['Customer_ID', 'insured_sex', 'insured_education_level', 'insured_occupation', 'insured_hobbies', 'insured_relationship', 'policy_bind_date', 'policy_state', 'policy_csl', 'incident_location', 'property_damage', 'incident_date', 'incident_type', 'collision_type', 'incident_severity', 'authorities_contacted', 'incident_state', 'incident_city', 'police_report_available', 'auto_make', 'auto_model']

In [73]:
##Here I feel we can drop some features ie. “region” because they are not much important for prediction.
#Dropping least important features of the dataset
#data = data.drop(['insured_education_level', 'insured_occupation', 'insured_hobbies'], axis=1)

In [74]:
## Categorical data
#categorical = (data.dtypes == "object")
#categorical_list = list(categorical[categorical].index)
#print(categorical_list)

In [75]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['insured_sex'] = le.fit_transform(data['insured_sex'])
data['insured_education_level'] = le.fit_transform(data['insured_education_level'])
data['insured_occupation'] = le.fit_transform(data['insured_occupation'])
data['insured_hobbies'] = le.fit_transform(data['insured_hobbies'])
data['insured_relationship'] = le.fit_transform(data['insured_relationship'])
data['policy_bind_date'] = le.fit_transform(data['policy_bind_date'])
data['policy_state'] = le.fit_transform(data['policy_state'])
data['policy_csl'] = le.fit_transform(data['policy_csl'])
data['incident_location'] = le.fit_transform(data['incident_location'])
data['property_damage'] = le.fit_transform(data['property_damage'])
data['incident_date'] = le.fit_transform(data['incident_date'])
data['incident_type'] = le.fit_transform(data['incident_type'])
data['collision_type'] = le.fit_transform(data['collision_type'])
data['incident_severity'] = le.fit_transform(data['incident_severity'])
data['authorities_contacted'] = le.fit_transform(data['authorities_contacted'])
data['incident_state'] = le.fit_transform(data['incident_state'])
data['incident_city'] = le.fit_transform(data['incident_city'])
data['police_report_available'] = le.fit_transform(data['police_report_available'])
data['auto_make'] = le.fit_transform(data['auto_make'])
data['auto_model'] = le.fit_transform(data['auto_model'])

In [76]:
data.info(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Customer_ID                  1000 non-null   object
 1   months_as_customer           1000 non-null   int64
 2   age                          1000 non-null   int64
 3   insured_sex                  1000 non-null   int64
 4   insured_education_level      1000 non-null   int64
 5   insured_occupation           1000 non-null   int64
 6   insured_hobbies              1000 non-null   int64
 7   insured_relationship         1000 non-null   int64
 8   capital-gains                1000 non-null   int64
 9   capital-loss                 1000 non-null   int64
 10  policy_number                1000 non-null   int64
 11  policy_bind_date             1000 non-null   int64
 12  policy_state                 1000 non-null   int64
 13  policy_csl                   1000 non-null   int64
 14  policy_deductable            1000 non-null   int64
 15  incident_location            1000 non-null   int64
 16  incident_hour_of_the_day     1000 non-null   int64
 17  number_of_vehicles_involved  1000 non-null   int64
 18  property_damage              1000 non-null   int64
 19  bodily_injuries              1000 non-null   int64
 20  policy_annual_premium        1000 non-null   float64
 21  umbrella_limit               1000 non-null   int64
 22  insured_zip                  1000 non-null   int64
 23  incident_date                1000 non-null   int64
 24  incident_type                1000 non-null   int64
 25  collision_type               1000 non-null   int64
 26  incident_severity            1000 non-null   int64
 27  authorities_contacted        1000 non-null   int64
 28  incident_state               1000 non-null   int64
 29  incident_city                1000 non-null   int64
 30  witnesses                    1000 non-null   int64
 31  police_report_available      1000 non-null   int64
 32  auto_make                    1000 non-null   int64
 33  auto_model                   1000 non-null   int64
 34  auto_year                    1000 non-null   int64
 35  total_claim_amount           700 non-null    float64
dtypes: float64(2), int64(33), object(1)
memory usage: 281.4+ KB

In [77]:
## Split the data into train and test data
train_data=data[:700]
test_data=data[700:]

print(train_data.shape)
print(test_data.shape)

(700, 36)
(300, 36)

In [78]:
train_data.drop(['Customer_ID'], axis ='columns', inplace= True)
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 35 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           700 non-null    int64
 1   age                          700 non-null    int64
 2   insured_sex                  700 non-null    int64
 3   insured_education_level      700 non-null    int64
 4   insured_occupation           700 non-null    int64
 5   insured_hobbies              700 non-null    int64
 6   insured_relationship         700 non-null    int64
 7   capital-gains                700 non-null    int64
 8   capital-loss                 700 non-null    int64
 9   policy_number                700 non-null    int64
 10  policy_bind_date             700 non-null    int64
 11  policy_state                 700 non-null    int64
 12  policy_csl                   700 non-null    int64
 13  policy_deductable            700 non-null    int64
 14  incident_location            700 non-null    int64
 15  incident_hour_of_the_day     700 non-null    int64
 16  number_of_vehicles_involved  700 non-null    int64
 17  property_damage              700 non-null    int64
 18  bodily_injuries              700 non-null    int64
 19  policy_annual_premium        700 non-null    float64
 20  umbrella_limit               700 non-null    int64
 21  insured_zip                  700 non-null    int64
 22  incident_date                700 non-null    int64
 23  incident_type                700 non-null    int64
 24  collision_type               700 non-null    int64
 25  incident_severity            700 non-null    int64
 26  authorities_contacted        700 non-null    int64
 27  incident_state               700 non-null    int64
 28  incident_city                700 non-null    int64
 29  witnesses                    700 non-null    int64
 30  police_report_available      700 non-null    int64
 31  auto_make                    700 non-null    int64
 32  auto_model                   700 non-null    int64
 33  auto_year                    700 non-null    int64
 34  total_claim_amount           700 non-null    float64
dtypes: float64(2), int64(33)
memory usage: 191.5 KB

/Applications/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [79]:
index_col = test_data['Customer_ID']
test_data.drop(['Customer_ID'], axis ='columns', inplace= True)
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 700 to 999
Data columns (total 35 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           300 non-null    int64
 1   age                          300 non-null    int64
 2   insured_sex                  300 non-null    int64
 3   insured_education_level      300 non-null    int64
 4   insured_occupation           300 non-null    int64
 5   insured_hobbies              300 non-null    int64
 6   insured_relationship         300 non-null    int64
 7   capital-gains                300 non-null    int64
 8   capital-loss                 300 non-null    int64
 9   policy_number                300 non-null    int64
 10  policy_bind_date             300 non-null    int64
 11  policy_state                 300 non-null    int64
 12  policy_csl                   300 non-null    int64
 13  policy_deductable            300 non-null    int64
 14  incident_location            300 non-null    int64
 15  incident_hour_of_the_day     300 non-null    int64
 16  number_of_vehicles_involved  300 non-null    int64
 17  property_damage              300 non-null    int64
 18  bodily_injuries              300 non-null    int64
 19  policy_annual_premium        300 non-null    float64
 20  umbrella_limit               300 non-null    int64
 21  insured_zip                  300 non-null    int64
 22  incident_date                300 non-null    int64
 23  incident_type                300 non-null    int64
 24  collision_type               300 non-null    int64
 25  incident_severity            300 non-null    int64
 26  authorities_contacted        300 non-null    int64
 27  incident_state               300 non-null    int64
 28  incident_city                300 non-null    int64
 29  witnesses                    300 non-null    int64
 30  police_report_available      300 non-null    int64
 31  auto_make                    300 non-null    int64
 32  auto_model                   300 non-null    int64
 33  auto_year                    300 non-null    int64
 34  total_claim_amount           0 non-null      float64
dtypes: float64(2), int64(33)
memory usage: 82.2 KB

In [80]:
#test_data.drop(['Customer_ID'], axis ='columns', inplace= True)
#test_data=test_data.drop(['total_claim_amount'], axis = 1).iloc[:-1].values
#test_data=test_data.drop(['total_claim_amount'], axis = 1)
#index_col = test_data['Customer_ID']
#test_data.drop(['Customer_ID'], axis =1, inplace= True)

In [81]:
#train_data.drop(['Customer_ID'], axis ='columns', inplace= True)
#train_data.info()

In [82]:
y = train_data['total_claim_amount']
X = train_data.drop(['total_claim_amount'], axis = 1)
#index_col = 'Customer_ID'
test_data = test_data.drop(['total_claim_amount'], axis = 1)
#test_data.info()

In [83]:
print(y.shape, X.shape, test_data.shape)

(700,) (700, 34) (300, 34)

In [84]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [85]:
## Scale the data
from sklearn.preprocessing import StandardScaler
# creating a standard scaler
sc = StandardScaler()
# feeding independents sets into the standard scaler
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [86]:
print(X_train.shape, X_test.shape, y_train.shape)

(560, 34) (140, 34) (560,)

In [88]:
import xgboost as xgb
from xgboost import XGBRegressor

#xgbr = xgb.XGBRegressor(verbosity=0) 

xgbr = xgb.XGBRegressor(booster= 'gbtree', learning_rate=0.1, n_estimators=100, max_depth=6, objective ='reg:squarederror', 
                        seed = 123, gamma=1, subsample=0.5, verbosity=0, n_jobs=-1)
print(xgbr)

XGBRegressor(base_score=None, booster='gbtree', colsample_bylevel=None,
             colsample_bynode=None, colsample_bytree=None, gamma=1, gpu_id=None,
             importance_type='gain', interaction_constraints=None,
             learning_rate=0.1, max_delta_step=None, max_depth=6,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=-1, num_parallel_tree=None,
             random_state=None, reg_alpha=None, reg_lambda=None,
             scale_pos_weight=None, seed=123, subsample=0.5, tree_method=None,
             validate_parameters=None, verbosity=0)

In [89]:
xgbr.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=1, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.1, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=-1, num_parallel_tree=1, random_state=123,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=123,
             subsample=0.5, tree_method='exact', validate_parameters=1,
             verbosity=0)

In [90]:
y_pred_xgbr = xgbr.predict(X_test)
print(y_pred_xgbr)

[  9318.193   79097.414   93328.99    15159.88    75155.836   99009.21
  88838.336   79148.016   82254.07    68628.484   72791.42    80876.62
  75938.336   96413.92    90584.81    82525.2     81038.84    84637.74
  87456.89    84271.03    71753.02    77030.65    88141.48    80143.55
  99241.35    83167.516  100523.59     5579.5024  90100.51    90426.445
  77338.09    87163.68    84102.36    75455.336   89819.125   82198.58
  95605.8     15232.183   94292.4     88141.02    71519.08    84524.32
  80885.59    93503.8     86118.516   94412.23    72411.59    81947.56
  78898.48    68930.82    84501.734   78364.12    83128.414   87772.69
  96971.36    72808.6     76498.04    99499.56    69196.73    13249.532
  82021.54    85842.53    87959.57    20326.73   108420.63    74836.234
  75794.27    92627.53    95948.82    93204.24    76619.94   100500.9
  86752.19    81257.97   103771.1     79168.28     8549.538   92591.375
  76344.62    76631.805   89350.47    72652.79    78665.38    87604.26
  79471.55    75244.15   100581.76    97682.305    9191.558   16521.008
  70970.586   91138.94     8419.761   87603.47    79167.82    73948.01
  92248.805   79703.695   76152.67    86827.62    72525.56    10128.989
  20032.352   80942.64    84767.336   94291.875   92816.35    92596.42
  93696.42     1490.261   12816.6455  87896.2     79815.9     77923.52
  76671.15     7891.074   79252.914    9362.73    69920.25    85264.83
  86816.805   76129.445   92849.22    86524.6      9691.372   12030.662
  91832.02    76718.59    90226.9     12008.693   14957.217   87204.04
  95648.87    13700.366   85369.05    94647.93     7939.3384  88378.66
  90281.99    97210.43  ]

In [91]:
#from sklearn.metrics import mean_squared_error
from sklearn import metrics #import accuracy_score,mean_squared_error, r2_score
from math import sqrt

MSE = metrics.mean_squared_error(y_test, y_pred_xgbr)
MSE

381144868.5876568

In [92]:
RMSE = np.sqrt(MSE)
RMSE

19522.931864544753

In [93]:
y_pred_xgbr = xgbr.predict(test_data.values)

submission = pd.DataFrame({'Customer_ID':index_col,'total_claim_amount':y_pred_xgbr})

# Save results
submission.to_csv("submission_xgbr_drop.csv",index=False)

In [94]:
import xgboost as xgb
from xgboost import XGBRegressor

#xgbr = xgb.XGBRegressor(verbosity=0) 

xgbr = xgb.XGBRegressor(booster= 'gbtree', nthread=None, learning_rate=0.1, n_estimators=100, max_depth=3, 
                        objective ='reg:squarederror', seed = 123, gamma=0, subsample=1, min_child_weight=1, 
                        max_delta_step=0, colsample_bytree=0.7, colsample_bylevel=1, 
                        colsample_bynode=1, reg_alpha=0, reg_lambda=1, scale_pos_weight=1, base_score=0.5, random_state=0,
                        missing=None, importance_type='gain', verbosity=0, n_jobs=-1)
print(xgbr)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.7, gamma=0, gpu_id=None,
             importance_type='gain', interaction_constraints=None,
             learning_rate=0.1, max_delta_step=0, max_depth=3,
             min_child_weight=1, missing=None, monotone_constraints=None,
             n_estimators=100, n_jobs=-1, nthread=None, num_parallel_tree=None,
             random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             seed=123, subsample=1, tree_method=None, validate_parameters=None,
             verbosity=0)

In [95]:
xgbr.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.7, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.1, max_delta_step=0, max_depth=3,
             min_child_weight=1, missing=None, monotone_constraints='()',
             n_estimators=100, n_jobs=-1, nthread=4, num_parallel_tree=1,
             random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             seed=123, subsample=1, tree_method='exact', validate_parameters=1,
             verbosity=0)

In [96]:
ypred_xgbr = xgbr.predict(X_test)
print(ypred_xgbr)

[ 13783.033   73634.234   91731.805   11767.13    77370.766   82801.5
  86875.6     81610.57    83399.45    81243.13    78467.35    85892.54
  91084.52   102847.555   87888.85    90349.06    81368.34    84757.695
  82515.19    84447.52    73657.09    85962.28    76605.66    79217.7
  91197.93    90174.8    101496.09    10617.978   82470.66    87232.164
  79870.97    88964.97    83908.65    82266.84    94800.57    79391.04
  82806.29    13468.15   101467.15    88021.73    80736.15    91845.95
  82408.56    90579.83    93815.336   83014.055   75613.79    76457.805
  83162.35    79703.68    84220.38    76812.65    82209.89    78226.98
  85726.56    90329.68    69871.914   87295.69    78503.74    10870.869
  80120.79    86265.81    93758.2      8489.422   95927.18    87854.266
  81900.76    89924.27    88408.914   87925.164   93159.83    85784.414
  82215.445   81658.77    90946.89    81310.5      5845.8306  81889.55
  73301.65    90588.83    87569.14    70572.      79424.484   98803.266
  79041.44    90865.766   87955.36    92256.445    8736.386   17849.977
  78243.766   79736.79     2465.9763  84200.63    76182.25    79691.07
  80761.586   84751.13    76499.17    96652.07    85512.82    12413.741
  12312.674   78947.984   78938.31    96911.71    79911.74    84902.805
  84524.555    6094.7935   2768.557   87275.05    82796.79    80169.
  85832.03     5916.3926  82761.42    17365.387   75769.47    80680.94
  81883.76    81717.086   90367.12    92949.62     7393.342   10675.621
  89196.99    83371.23    83872.65    17746.48    15097.674   86347.02
  86018.984   18859.102   80047.94    85642.33    16125.691   76665.39
  86442.27    84320.836 ]

In [97]:
MSE = metrics.mean_squared_error(y_test, ypred_xgbr)

RMSE = np.sqrt(MSE)

print('MSE: ', MSE)
print('RMSE: ', RMSE)

MSE:  357957836.163894
RMSE:  18919.773681624578

In [98]:
ypred_xgb = xgbr.predict(test_data.values)

submission = pd.DataFrame({'Customer_ID': index_col, 'total_claim_amount': ypred_xgb}) 

#output_xgbr.to_csv('submission_output_xgbr.csv', index=False)
submission.to_csv('submission_xgb.csv', index=False)

In [99]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

#xgbr = XGBRegressor()

In [100]:
steps = [("st_scaler", StandardScaler()), ("xgbr_model", xgb.XGBRegressor())]

xgbr_pipeline = Pipeline(steps)
#st_scaler = StandardScaler()
#xgbr_model = xgb.XGBRegressor()
#xgbr_pipeline = Pipeline(st_scaler, xgbr_model)

In [101]:
xgbr_pipeline.get_params().keys()

dict_keys(['memory', 'steps', 'verbose', 'st_scaler', 'xgbr_model', 'st_scaler__copy', 'st_scaler__with_mean', 'st_scaler__with_std', 'xgbr_model__objective', 'xgbr_model__base_score', 'xgbr_model__booster', 'xgbr_model__colsample_bylevel', 'xgbr_model__colsample_bynode', 'xgbr_model__colsample_bytree', 'xgbr_model__gamma', 'xgbr_model__gpu_id', 'xgbr_model__importance_type', 'xgbr_model__interaction_constraints', 'xgbr_model__learning_rate', 'xgbr_model__max_delta_step', 'xgbr_model__max_depth', 'xgbr_model__min_child_weight', 'xgbr_model__missing', 'xgbr_model__monotone_constraints', 'xgbr_model__n_estimators', 'xgbr_model__n_jobs', 'xgbr_model__num_parallel_tree', 'xgbr_model__random_state', 'xgbr_model__reg_alpha', 'xgbr_model__reg_lambda', 'xgbr_model__scale_pos_weight', 'xgbr_model__subsample', 'xgbr_model__tree_method', 'xgbr_model__validate_parameters', 'xgbr_model__verbosity'])

In [102]:
xgbrm_param_grid = {'xgbr_model__learning_rate': np.arange(0.05, 1, 0.05),
                    'xgbr_model__objective': ['reg:squarederror'],
                    'xgbr_model__booster': ['gbtree'],
                    'xgbr_model__gamma': np.arange(0.01, 1, 0.01),
                    'xgbr_model__max_depth': np.arange(3, 10, 1),
                    'xgbr_model__min_child_weight': np.arange(1, 5, 1),
                    'xgbr_model__subsample': np.arange(0.5, 1, 0.1),
                    'xgbr_model__colsample_bytree': np.arange(0.5, 0.8, 0.1),
                    'xgbr_model__n_estimators': np.arange(100, 1000, 100),
                   }

randomized_neg_mse = RandomizedSearchCV(estimator = xgbr_pipeline,
                                       param_distributions = xgbrm_param_grid, n_iter = 10,
                                       scoring = 'neg_mean_squared_error', cv = 4, verbose = 0)

randomized_neg_mse.fit(X_train, y_train)

RandomizedSearchCV(cv=4,
                   estimator=Pipeline(steps=[('st_scaler', StandardScaler()),
                                             ('xgbr_model',
                                              XGBRegressor(base_score=None,
                                                           booster=None,
                                                           colsample_bylevel=None,
                                                           colsample_bynode=None,
                                                           colsample_bytree=None,
                                                           gamma=None,
                                                           gpu_id=None,
                                                           importance_type='gain',
                                                           interaction_constraints=None,
                                                           learning_rate=None,
                                                           max_delta_step=None,
                                                           max_depth=None,
                                                           min_child_weight=...
                                        'xgbr_model__learning_rate': array([0.05, 0.1 , 0.15, 0.2 , 0.25, 0.3 , 0.35, 0.4 , 0.45, 0.5 , 0.55,
       0.6 , 0.65, 0.7 , 0.75, 0.8 , 0.85, 0.9 , 0.95]),
                                        'xgbr_model__max_depth': array([3, 4, 5, 6, 7, 8, 9]),
                                        'xgbr_model__min_child_weight': array([1, 2, 3, 4]),
                                        'xgbr_model__n_estimators': array([100, 200, 300, 400, 500, 600, 700, 800, 900]),
                                        'xgbr_model__objective': ['reg:squarederror'],
                                        'xgbr_model__subsample': array([0.5, 0.6, 0.7, 0.8, 0.9])},
                   scoring='neg_mean_squared_error')

In [106]:
print("Best rmse: ", np.sqrt(np.abs(randomized_neg_mse.best_score_)))

Best rmse:  20288.51552024633

In [107]:
print("Best model: ", randomized_neg_mse.best_estimator_)

Best model:  Pipeline(steps=[('st_scaler', StandardScaler()),
                ('xgbr_model',
                 XGBRegressor(base_score=0.5, booster='gbtree',
                              colsample_bylevel=1, colsample_bynode=1,
                              colsample_bytree=0.7, gamma=0.23, gpu_id=-1,
                              importance_type='gain',
                              interaction_constraints='', learning_rate=0.1,
                              max_delta_step=0, max_depth=7, min_child_weight=1,
                              missing=nan, monotone_constraints='()',
                              n_estimators=200, n_jobs=4, num_parallel_tree=1,
                              random_state=0, reg_alpha=0, reg_lambda=1,
                              scale_pos_weight=1, subsample=0.8999999999999999,
                              tree_method='exact', validate_parameters=1,
                              verbosity=None))])

In [108]:
y_pred_randomized = randomized_neg_mse.predict(test_data.values)

submission_randomized = pd.DataFrame({'Customer_ID': index_col, 'total_claim_amount': y_pred_randomized}) 

submission_randomized.to_csv('submission_randomized.csv', index=False)

In [109]:
xgbr = XGBRegressor(base_score=0.5, booster='gbtree', objective = 'reg:squarederror',
                    colsample_bytree=0.8, colsample_bylevel=1, colsample_bynode=1,
                    learning_rate=0.1, gamma=0.2, gpu_id=-1,
                    importance_type='gain', interaction_constraints='', missing=None,
                    max_delta_step=0, max_depth=6, min_child_weight=1, monotone_constraints='()',
                    n_estimators=100, n_jobs=-1, num_parallel_tree=1, random_state=0, reg_alpha=0,
                    reg_lambda=1, scale_pos_weight=1, subsample=0.6, tree_method='exact', 
                    validate_parameters=1, verbosity=None)

In [110]:
%time xgbr.fit(X_train, y_train, early_stopping_rounds=5, eval_set=[(X_test, y_test)], verbose=None)

CPU times: user 391 ms, sys: 18.8 ms, total: 409 ms
Wall time: 235 ms

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.8, gamma=0.2, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.1, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=None, monotone_constraints='()',
             n_estimators=100, n_jobs=-1, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=0.6,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [111]:
y_pred_XGB = xgbr.predict(X_test)

In [112]:
MSE_X = metrics.mean_squared_error(y_test, y_pred_XGB)

print("MSE: ", MSE_X)

MSE:  369745857.3240598

In [113]:
RMSE = np.sqrt(MSE_X)
print('RMSE: ', RMSE)

RMSE:  19228.77680259615

In [114]:
y_pred_XGB = xgbr.predict(test_data.values)

subm_XGB = pd.DataFrame({'Customer_ID': index_col, 'total_claim_amount': y_pred_XGB}) 

subm_XGB.to_csv('subm_XGB.csv', index=False)